/*reset*/
body { font: 12px/1.5 microsoft yaihei,Arial,SimSun,Tahoma; background-color: #fbf8f4; color: #333333; }

html, body, p, dl, dt, dd, table, td, th, input, img, form, div, span, ul, ol, li, h1, h2, h3, h4, h5, h6, select, fieldset, button, sub, sup, textarea { margin: 0; padding: 0; }

table { border-collapse: collapse; border-spacing: 0; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; }

img { border: 0 none; }

em, i { font-style: normal; }

ul, ol { list-style: none outside none; }

.clearfix:after { content: ""; display: block; clear: both; }

.clearfix { *zoom: 1; }

a { color: #000000; text-decoration: none; }

a:hover { color: #ff4400; text-decoration: underline; }

:focus { outline: 0; }

.clear { clear: both; overflow: hidden; font-size: 0; height: 0; line-height: 0; }

input, textarea, select { background-color: #ffffff; }

.warp { width: 100%; min-width: 1000px; }
.warp .container { width: 1000px; margin: 0 auto; }

.icon { display: inline-block; background-image: url("../images/base.png"); }

.iconXinShou { width: 28px; height: 25px; background-position: 0 0; }

.iconFuKuan { width: 21px; height: 25px; background-position: -29px 0px; }

.iconPeiSong { width: 29px; height: 25px; background-position: -51px 0px; }

.iconShouHou { width: 18px; height: 25px; background-position: -81px 0px; }

.headerTopBg { background-color: #f4f4f4; height: 36px; line-height: 36px; }
.headerTopBg .headerTop { width: 1000px; margin: 0 auto; color: #666666; }
.headerTopBg .headerTop .welcome { float: left; font-size: 12px; }
.headerTopBg .headerTop .topHeaderList { float: right; }
.headerTopBg .headerTop .topHeaderList li { float: left; }
.headerTopBg .headerTop .topHeaderList li a { color: #666666; }

.logo { float: left; width: 197px; height: 90px; }
.logo img { width: 100%; }

.searchBox { width: 555px; float: left; height: 30px; padding-left: 95px; padding-top: 33px; padding-bottom: 27px; }
.searchBox .searchCon { height: 30px; width: 399px; background-color: #333333; float: left; overflow: hidden; }
.searchBox .searchCon input { border: none; width: 100%; font-size: 16px; padding: 6px 10px; background-color: #666666; color: #ffffff; }
.searchBox .searchBtn { display: block; height: 30px; float: left; text-align: center; line-height: 30px; width: 79px; background-color: #f4a11a; color: #ffffff; }

.telNum { float: left; padding-top: 12px; height: 78px; }
.telNum .p1 { color: #868686; font-size: 18px; text-align: right; }
.telNum .p2 { color: #6c6c6c; font-size: 20px; }

.menuBg { height: 50px; background-color: #f4ecdc; line-height: 50px; }
.menuBg ul li { float: left; }
.menuBg ul li a { padding: 0px 28px; display: block; height: 100%; color: #666666; font-weight: bold; }
.menuBg ul li a:hover { color: #ffffff; background-color: #d5b87b; text-decoration: none; }
.menuBg ul li .cur { color: #ffffff; background-color: #d5b87b; text-decoration: none; }

.footer { margin-top: 80px; background-color: #efefef; padding-top: 35px; overflow: hidden; margin-right: -80px; width: 100%; overflow: hidden; }
.footer .footerItem { float: left; margin-right: 80px; }
.footer .footerItem .iconBox { float: left; margin-right: 10px; }
.footer .footerItem ul { float: left; }
.footer .footerItem ul .footTit a { font-size: 16px; font-weight: bold; color: #727272; padding-top: 3px; }
.footer .footerItem ul .footTit a:hover { color: #f30; text-decoration: none; }
.footer .footerItem ul .footItem a { font-size: 14px; line-height: 28px; color: #727272; }
.footer .footerItem ul .footItem a:hover { color: #f30; text-decoration: none; }
.footer .footerItem .contact { font-size: 16px; font-weight: bold; color: #727272; }
