.list { margin-top: 10px; }

.listTit { height: 52px; line-height: 52px; }
.listTit .itemName { color: #f29f19; font-size: 18px; float: left; }
.listTit .more { font-size: 12px; float: right; color: #666666; }
.listTit .more:hover { color: #f60; }

.listBox { margin-right: -20px; overflow: hidden; }
.listBox li { float: left; margin-right: 20px; }
.listBox li a { background-color: #ffffff; padding: 6px 7px; width: 220px; height: 304px -6px; display: block; text-decoration: none; }
.listBox li a .listItemName { font-size: 14px; color: #333333; font-weight: bold; }
.listBox li a .listItemOldPrice { font-size: 12px; color: #999; }
.listBox li a .listItemNewPrice { font-size: 12px; color: #666; }
.listBox li a .listItemNewPrice .specPrice { color: #f30; font-size: 20px; }
.listBox li a .listItemNewPrice .specPrice em { font-size: 12px; }
