.crumb { height: 31px; line-height: 31px; }
.crumb a { font-size: 12px; color: #999; }
.crumb a:hover { color: #f30; }

.pagesTopBar { padding: 5px 0px; background-color: #F5F5F5; height: 24px; overflow: hidden; }
.pagesTopBar .paiXu { float: left; margin-left: 10px; }
.pagesTopBar .paiXu li { float: left; }
.pagesTopBar .paiXu li a { display: block; height: 22px; line-height: 22px; border: 1px solid #CCCCCC; padding: 0px 15px; background-color: #fff; position: relative; padding-right: 30px; text-decoration: none; }
.pagesTopBar .paiXu li a .JT { background-image: url("../images/jt.png"); width: 7px; height: 8px; display: block; position: absolute; top: 7px; right: 15px; background-position: -8px 0px; }
.pagesTopBar .paiXu li .cur { background-color: #f0efec; color: #f60; }
.pagesTopBar .paiXu li .cur .JT { background-position: 0 0; }
.pagesTopBar .pageCut { float: right; padding: 2px 10px; background-color: #faf9f9; margin-right: 10px; }
.pagesTopBar .pageCut span { float: left; }
.pagesTopBar .pageCut .smBtn { width: 19px; height: 18px; text-align: center; line-height: 18px; background-color: #fff; border: 1px solid #999; display: block; float: left; margin-left: 10px; color: #666666; text-decoration: none; }
.pagesTopBar .pageCut .cant { background-color: #efefef; }

.itemListBox { width: 1000px; overflow: hidden; padding-top: 10px; margin-top: 10px; border-top: 2px solid #333333; }
.itemListBox ul { margin-right: -20px; }
.itemListBox li { margin-bottom: 10px; }
