@import "../../libs/scss/pc/global";
@include global_reset("12px/1.5 microsoft yaihei,Arial,Tahoma",#333333,#fbf8f4,#000000,#ff4400);
$img:"../images/";
$version:"20150420";
$baseWidth:1000px;
.warp{
  width: 100%;
  min-width: $baseWidth;
  .container{
    width: $baseWidth;
    margin: 0 auto;
  }
}
.icon{
  display: inline-block;
  background-image: url("#{$img}base.png");
}
.iconXinShou{
  width: 28px;
  height: 25px;
  background-position: 0 0;
}
.iconFuKuan{
  width: 21px;
  height: 25px;
  background-position: -29px 0px;
}
.iconPeiSong{
  width: 29px;
  height: 25px;
  background-position: -51px 0px;
}
.iconShouHou{
  width: 18px;
  height: 25px;
  background-position: -81px 0px;
}
.iconBuyCar{
  height: 13px;
  width: 12px;
  background-position: 0px -25px;
  position: relative;
  top: 2px;
  margin-right: 10px;
}
.iconShopCenter{
  height: 13px;
  width: 12px;
  background-position: -11px -25px;
  position: relative;
  top: 2px;
  margin-right: 10px;
}
.downIcon{
  width: 10px;
  height: 6px;
  background-position: -23px -26px ;
  margin-left: 5px;
}
@import "base/header";
@import "base/footer";
.pageBottomBox{
  height: 30px;
  clear: both;
  overflow: hidden;
  margin-bottom: 30px;
  margin-top: 10px;
  .pageDetail,.cutPagebtn{
    float: right;
  }
  .cutPagebtn{
    li{
      float: left;
      margin-right: 10px;
      a{
        height: 28px;
        padding: 0px 10px;
        line-height: 28px;
        display: block;
        border: 1px solid #cccccc;
        background-color: #fff;
        font-size: 12px;
        text-decoration: none;
      }
      .cant{
        background-color: #f3f3f3;
        color: #999999;
      }
      .diandiandian{
        font-size: 14px;
        line-height: 30px;
      }
    }
  }
  .pageDetail{
    height: 30px;
    line-height: 30px;
    .countPage{
      font-size: 12px;
      color: #666666;
      margin: 0px 10px;
    }
    .toSomePage{
      input{
        width: 10px;
        text-align: center;
        padding: 0px 10px;
      }
    }
    .makeSureBtn{
      display: block;
      float: right;
      width: 40px;
      height: 18px;
      line-height: 18px;
      border: 1px solid #343434;
      color: #343434;
      background-color: #fff;
      text-align: center;
      border-radius: 10px;
      margin-left: 10px;
      position: relative;
      top: 5px;
    }
  }
}



