$img:"../images/";
.signUpBox{
  border-top: 2px solid #f4ecdc;
  padding: 18px 0px;
  overflow: hidden;
  .signImg{
    float: left;
    border: 1px solid #999999;
    width: 600px;
    height: 450px;
  }
  .signBox{
    padding: 0px 38px;
    border: 1px solid #ebebeb;
    float: right;
    height: 450px;
    .signFormTop{
      width: 260px;
      padding: 0px 10px;
      padding-top: 16px;
      margin-bottom: 20px;
      height: 30px;
      line-height: 30px;
      .signName{
        font-size: 16px;
        color: #000;
        margin-right: 20px;
        float: left;
      }
      label{
        margin-left: 10px;
        float: left;
        font-size: 12px;
        input{
          position: relative;
          top: 3px;margin-right: 5px;
        }
      }
      .toLogin{
        float: right;
        font-size: 12px;
        color: #f60;
      }
    }
    .formItem{
      margin-bottom: 30px;
      position: relative;
      input{
        padding: 9px 10px;
        width: 260px;
        border: 1px solid #ebebeb;
        border-radius: 5px;
      }
      .yanzheng{
        width: 120px;
        float: left;
      }
      .yanzhengImg{
        float: right;
        margin-right: 20px;
        img{
          height: 35px;
        }
      }
      .placeholder{
        font-size: 12px;
        color: #666666;
        position: absolute;
        top: 9px;
        left: 10px;
      }
      .ico{
        background-image: url("#{$img}sign/ico.png");
        display: block;
        background-repeat: no-repeat;
        overflow: hidden;
        position: absolute;
        top: 9px;
        right: 10px;
        height: 16px;
      }
      .ico_name{
        width: 16px;
        background-position: 0 0;
      }
      .ico_eamil{
        width: 17px;
        background-position: -17px 0px;
      }
      .ico_pwd{
        width: 12px;
        background-position: -35px 0px;
      }
      .errorMsg{
        position: absolute;
        color: #f30;
        top: 40px;
        left: 10px;
      }
    }
    .formSubmit{
      text-align: center;
      margin-top: -10px;
      .readOrg{
        font-size: 12px;
        display: block;
        text-decoration: underline;
        color: #666;
      }
      .signBtn{
        width: 280px;
        height: 35px;
        margin: 0 auto;
        display: block;
        text-align: center;
        line-height: 35px;
        border-radius: 5px;
        background-color: #f4a11a;
        color: #fff;
        font-size: 16px;
        margin-bottom: 10px;
      }
      .rememberPwd{
        clear: both;
        overflow: hidden;
        height: 30px;
        line-height: 30px;
        label{
          float: left;
          input{
            margin-right: 5px;
            position: relative;
            top: 3px;
          }
        }
        a{
          float: right;
          color: #0099FF;
        }
      }
      .gotoSign{
        height: 30px;
        line-height: 30px;
        text-align: right;
        color: #f60;
        display: block;
      }
    }
  }
}