$img:"../images/";
.leftContainer{
  width: 260px;
  overflow: hidden;
  float: left;
  margin: 20px 0;
  border: 1px solid #e6e6e6;
  border-bottom: 0 none;
  .navTit{
    padding-left: 55px;
    height: 50px;
    background-color: #d5b87b;
    color: #fff;
    line-height: 50px;
    font-size: 16px;
  }
  .navItem{
    display: block;
    overflow: hidden;
    clear: both;
    height: 50px;
    line-height: 50px;
    padding-left: 75px;
    border-bottom: 1px solid #e6e6e6;
    text-decoration: none;
    &:hover{
      color: #f60;
    }
  }
  .current{
    color: #f60;
  }
}
.rightContainer{
  width: 736px;
  float: left;
  min-height: 456px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  margin: 20px 0;
  .fromTitle{
    height: 50px;
    line-height: 50px;
    text-align: left;
    border-bottom: 1px solid #e6e6e6;
    padding-left: 20px;
    font-size: 16px;
  }
  .formName{
    height: 55px;
    line-height: 55px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 77px;
  }
  .formItem{
    clear: both;
    overflow: hidden;
    .fm_left,.fm_right{
      float: left;
    }
    .fm_left{
      width: 144px;
      text-align: right;
      font-size: 12px;
      color: #666666;
      height: 30px;
      line-height: 30px;
      margin-bottom: 15px;
      em{
        color: #f30;
        position: relative;
        top: 3px;
        margin-right: 5px;
      }
    }
    .fm_right{
      margin-left: 10px;

      .wd{
        font-size: 12px;
        padding: 7px 10px;
        border: 1px solid #e4e4e4;
        float: left;
      }
      .wd1{
        width: 120px;
      }
      .wd2{
        width: 60px;
      }
      .wd3{
        width: 220px;
      }
      .wd4{
        width: 350px;
      }
      .textArea{
        width: 280px;
        height: 100px;
        resize: none;
        overflow-y: scroll;
        padding: 10px;
        border: 1px solid #e4e4e4;
      }
      .shoppost{
        width: 400px;
        height: 200px;
        border: 1px solid #F4A11A;
      }
      .uploadImg{
        width: 80px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: #F4A11A;
        color: #fff;
        display: block;
        margin: 10px 0 20px;
        text-decoration: none;
      }
      .bigTextarea{
        width: 560px;
        height: 318px;
        resize: none;
      }
    }
    .inRight .wd{
      border-color: #b4e069;
    }
    .inError .wd{
      border-color: #ff0000;
    }
    .getCodeBtn{
      height: 30px;
      line-height: 30px;
      margin-left: 10px;
      display: block;
      float: left;
      padding: 0px 15px;
      background-color: #f4a11a;
      color: #fff;
      text-decoration: none;
    }
    .garyBg{
      background-color: #999999;
    }
    .rw{
      display: block;
      float: left;
      background-image: url("#{$img}rw.png");
      width: 16px;
      height: 17px;
      position: relative;
      top: 7px;
      margin-left: 10px;
      display: none;
    }
    .inRight{
      .rw{
        display: block;
      }
    }
    .msgInfo{
      height: 30px;
      line-height: 30px;
      color: #999999;
      margin-left: 10px;
    }
    .inError{
      .rw{
        display: block;
        background-position: -17px 0px;
      }
      .errorMsg{
        display: block;
        font-size: 12px;
        float: left;
        color: #f00;
        margin-left: 10px;
        height: 30px;
        line-height: 30px;
      }
    }
  }
  .nextBtn{
    width: 140px;
    height: 40px;
    display: block;
    overflow: hidden;
    background-color: #f4a11a;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    margin: 30px auto 20px;
  }
}
.htList{
  margin-left: 10px;
  margin-right: -10px;
  ul{
    margin-right: -10px;
    li{
      margin-right: 5px;
      margin-bottom: 10px;
      a{
        border: 1px solid #dedede;
      }
    }
  }
}
.pageBottomBox{
  margin-right: 10px;
}
.rightContainer .pl7{
  padding-left: 7px;
}
.tips{
  width: 680px;
  padding: 3px 10px ;
  border: 1px solid #EFE68B;
  background-color: #FEFFE5;
  margin: 10px auto;
  color: #666666;
}