.headerTopBg{
  background-color: #f4f4f4;
  height: 36px;
  line-height: 36px;
  .headerTop{
    width: $baseWidth;
    margin: 0 auto;
    color: #666666;
    .welcome{
      float: left;
      font-size: 12px;
    }
    .topHeaderList{
      float: right;
      li{
        float: left;
        a{
          color: #666666;
        }
      }
    }
  }
}
.logo{
  float: left;
  width: 197px;
  height: 90px;
  img{
    width: 100%;
  }
}
.searchBox{
  width: 650px - 95px;
  float: left;
  height: 90px - 33px - 27px;
  padding-left: 95px;
  padding-top:33px;
  padding-bottom: 27px;
  .searchCon{
    height: 28px;
    width: 399px;
    background-color: #fff;
    float: left;
    overflow: hidden;
    border: 1px solid #f4a11a;
    input{
      border: none;
      width: 100%;
      font-size: 16px;
      padding: 5px 10px;
      background-color: #fff;
      color: #333;
    }
  }
  .searchBtn{
    display: block;
    height: 30px;
    float: left;
    text-align: center;
    line-height: 30px;
    width: 79px;
    background-color: #f4a11a;
    color: #ffffff;
  }
}
.telNum{
  float: left;
  padding-top: 12px;
  height: 90px - 12px;
  .p1{
    color: #868686;
    font-size: 18px;
    text-align: right;
  }
  .p2{
    color:#6c6c6c;
    font-size: 20px;
  }
}
.menuBg{
  height: 50px;
  background-color: #f4ecdc;
  line-height: 50px;
  ul{
    li{
      float: left;
      a{
        padding: 0px 28px;
        display: block;
        height: 100%;
        color: #666666;
        font-weight: bold;
        &:hover{
          color: #ffffff;
          background-color: #d5b87b;
          text-decoration: none;
        }
      }
      .cur{
        color: #ffffff;
        background-color: #d5b87b;
        text-decoration: none;
      }
    }
  }
}
.buyCarMenu{
  margin-left: 25px;
}
.sallerCenter{
  margin-left: 12px;
}
.buyCarDropBox{
  position: absolute;
  z-index: 10;
  zoom: 1;
  width: 348px;
  height: 278px;
  padding: 10px;
  border: 1px solid #F6B347;
  background-color: #fff;
  margin-left: -290px;
  .dropItem{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #CCCCCC;
    height: 60px;
    overflow: hidden;
    clear: both;
    position: relative;
    .goodsImg{
      width: 60px;
      height: 60px;
      float: left;
    }
    .goodsNameAndMoney{
      width: 255px;
      float: left;
      margin-left: 10px;
      .name{
        font-size: 12px;
        line-height: 15px;
        a{
          color: #666666;
          &:hover{
            color: #f60;
          }
        }
      }
      .price{
        font-size: 15px;
        color: #ff3300;
        em{
          color: #666666;
          font-size: 12px;
        }
      }
    }
    .closebtn{
      display: block;
      overflow: hidden;
      position: absolute;
      top: 0px;
      right: 0px;
      width: 15px;
      height: 15px;
      background-image: url("#{$img}closeBtn.png");
      background-position: -16px 0px;
      &:hover{
        background-position: 0px 0px;
      }
    }
  }
  .buyCarCount{
    height: 34px;
    padding: 10px 0px;
    border-top: 1px solid #F6B347;
    margin: -11px -10px 0px;
    span{
      float: left;
      font-size: 12px;
      margin-left: 10px;
      em{
        color: #f30;
      }
      i{
        font-size: 14px;
        color: #f30;
      }
    }
  }
}
.headerTopBg .headerTop .topHeaderList li .goToPay{
  float: right;
  display: block;
  width: 126px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  color: #fff;
  background-color: #F4A11A;
  margin-right: 10px;
  font-size: 14px;
  text-decoration: none;
}