.content{
  width: 1240px;
  margin: 0px auto;
  clear: both;
  .leftContent{
    width: 928px;
    float: left;
    .imgBox{
      width: 928px;
      height: 444px;
      overflow: hidden;
      img{
        width: 100%;
        heigth:100%;
      }
    }
    .description{
      clear: both;
      font-size: 18px;
      line-height: 26px;
      padding: 14px 30px;
      .mb10px{
        margin-bottom: 10px;
      }
    }
    .splite{
      height: 3px;
      background-image: url("#{$img}/index/split.jpg");
    }
    .CollaborateTrackStatu{
      background-color: #efefef;
      margin: 10px 5px;
      padding: 40px 34px;
      padding-bottom: 0px;
      clear: both;
      overflow: hidden;
      li{
        display: block;
        overflow: hidden;
        float: left;
        width: 340px;
        margin-bottom: 40px;
        .smimg{
          background-image: url("#{$img}/index/imgbg.jpg");
          padding: 4px 6px 13px 4px;
          background-repeat: no-repeat;
          overflow: hidden;
          float: left;
          img{
            width: 130px;
            height: 115px;
          }
        }
        .text{
          float: left;
          height: 137px;
          margin-left: 20px;
          width: 180px;
          .itemTitle{
            font-size: 22px;
            color: #017eff;
            line-height: 24px;
          }
          .itemText{
            font-size: 18px;
            line-height: 20px;
            color: #000;
          }
        }
        &.spliteX{
          width: 1px;
          background-color: #c1c1c1;
          display: block;
          height: 137px;
          margin-right: 80px;
          margin-left: 55px;
        }
      }

    }

    .productTable{
      border: 1px solid #5e5f68;
      table{
        width: 100%;
        th{
          height: 68px;
          line-height: 68px;
          text-align: center;
          font-size: 24px;
          color: #ffffff;
          background-color: #019cde;
        }
        td{
          text-align: center;
          font-size: 24px;
          border-bottom:1px solid #a4a5aa;
        }
      }
      .productImg{
        width: 164px;
        padding: 10px;
        img{
          width: 163px;
          height: 82px;
        }
      }
      .fblue{
        color: #019cde;
        display: block;
      }
      .country{
        width: 80px;
        height: 52px;
      }
    }


  }
  /*右边导航*/
  .rightContent{
    width: 306px;
    border-left: 1px solid #7a7a7b;
    border-right: 1px solid #7a7a7b;
    border-bottom: 1px solid #7a7a7b;
    float: right;
    li{
      height: 47px;
      line-height: 47px;
      position: relative;
      &.navTit{
        background-color: #e9e7e5;
        color: #000000;
        padding-left: 55px;
        font-size: 26px;
        a{
          color: #2a7adf;
          font-size: 20px;
          display: inline;
          &:hover{
            color: #ff4400;
          }
        }
      }
      a{
        display: block;
        width: 100%;
        height: 100%;
        font-size: 25px;
        .zhusu{
          background-image: url("#{$img}/icons.png");
          width: 31px;
          height: 19px;
          display: block;
          position: absolute;
          top:15px;
          left: 7px;
          background-position: -53px 0px;
        }
        &:hover .zhusu{
          background-position: -85px 0px;
          animation: rotate 1s;
          -moz-animation: rotate 1s;
          -webkit-animation: rotate 1s;
          -o-animation: rotate 1s;
        }
        .chuisu{
          background-image: url("#{$img}/icons.png");
          width: 19px;
          height: 35px;
          display: block;
          position: absolute;
          top:7px;
          left: 13px;
          background-position: -117px 0px;
        }
        &:hover .chuisu{
          background-position: -137px 0px;
          animation: rotate 1s;
          -moz-animation: rotate 1s;
          -webkit-animation: rotate 1s;
          -o-animation: rotate 1s;
        }
        .gunsu{
          background-image: url("#{$img}/icons.png");
          width: 25px;
          height: 35px;
          display: block;
          position: absolute;
          top:7px;
          left: 11px;
          background-position: -157px 0px;
        }
        &:hover .gunsu{
          background-position: -183px 0px;
          animation: rotate 1s;
          -moz-animation: rotate 1s;
          -webkit-animation: rotate 1s;
          -o-animation: rotate 1s;
        }
        .jisu{
          background-image: url("#{$img}/icons.png");
          width: 19px;
          height: 35px;
          display: block;
          position: absolute;
          top:7px;
          left: 13px;
          background-position: -209px 0px;
        }
        &:hover .jisu{
          background-position: -239px 0px;
          animation: rotate 1s;
          -moz-animation: rotate 1s;
          -webkit-animation: rotate 1s;
          -o-animation: rotate 1s;
        }
        .vacu{
          background-image: url("#{$img}/icons.png");
          width: 31px;
          height: 23px;
          display: block;
          position: absolute;
          top:10px;
          left: 10px;
          background-position: -269px 0px;
        }
        &:hover .vacu{
          background-position: -301px 0px;
          animation: rotate 1s;
          -moz-animation: rotate 1s;
          -webkit-animation: rotate 1s;
          -o-animation: rotate 1s;
        }
        .yazhu{
          background-image: url("#{$img}/icons.png");
          width: 34px;
          height: 23px;
          display: block;
          position: absolute;
          top:10px;
          left: 10px;
          background-position: -333px 0px;
        }
        &:hover .yazhu{
          background-position: -368px 0px;
          animation: rotate 1s;
          -moz-animation: rotate 1s;
          -webkit-animation: rotate 1s;
          -o-animation: rotate 1s;
        }
        .rongmozhu{
          background-image: url("#{$img}/icons.png");
          width: 27px;
          height: 32px;
          display: block;
          position: absolute;
          top:6px;
          left: 10px;
          background-position: -403px 0px;
        }
        &:hover .rongmozhu{
          background-position: -431px 0px;
          animation: rotate 1s;
          -moz-animation: rotate 1s;
          -webkit-animation: rotate 1s;
          -o-animation: rotate 1s;
        }
        .chongya{
          background-image: url("#{$img}/icons.png");
          width: 23px;
          height: 35px;
          display: block;
          position: absolute;
          top:6px;
          left: 10px;
          background-position: -459px 0px;
        }
        &:hover .chongya{
          background-position: -483px 0px;
          animation: rotate 1s;
          -moz-animation: rotate 1s;
          -webkit-animation: rotate 1s;
          -o-animation: rotate 1s;
        }
        .lasheng{
          background-image: url("#{$img}/icons.png");
          width: 34px;
          height: 27px;
          display: block;
          position: absolute;
          top:6px;
          left: 10px;
          background-position: -507px 0px;
        }
        &:hover .lasheng{
          background-position: -542px 0px;
          animation: rotate 1s;
          -moz-animation: rotate 1s;
          -webkit-animation: rotate 1s;
          -o-animation: rotate 1s;
        }
      }
      .grayBg{
        .navName{
          background-color: #e9e7e5;
          width: 250px;
          padding-left: 10px;
          display: block;
          float: right;
          height: 100%;
        }
      }
      .whiteBg{
        .navName{
          background-color: #ffffff;
          width: 250px;
          padding-left: 10px;
          display: block;
          float: right;
          height: 100%;
        }
      }
    }
    .navBottom{
      width: 100%;
      vertical-align: middle;
    }
  }
}

@-webkit-keyframes rotate {
  from {
    transform:rotate(0deg);
    -ms-transform: rotate(0deg);		/* IE 9 */
    -webkit-transform: rotate(0deg);	/* Safari and Chrome */
    -o-transform: rotate(0deg);		/* Opera */
    -moz-transform: rotate(0deg);
    }
  to {
    transform:rotate(360deg);
    -ms-transform: rotate(360deg);		/* IE 9 */
    -webkit-transform: rotate(360deg);	/* Safari and Chrome */
    -o-transform: rotate(360deg);		/* Opera */
    -moz-transform: rotate(360deg);
  }
}