$fontUrl:"../font/";
@font-face{font-family:'ARIALN';src:url("#{$fontUrl}/ARIALN.TTF"); font-style:normal; font-weight:normal}
@font-face{font-family:'ARLRDBD';src:url("#{$fontUrl}/ARLRDBD.TTF"); font-style:normal; font-weight:normal}