.content{
  z-index: 1;
  zoom: 1;
  width: $baseWidth;
  margin: 0px auto;
  clear: both;
  .leftContent{
    $leftWidth:715px;
    width: $leftWidth;
    float: left;
    overflow: hidden;
    zoom: 1;
    .imgBox{
      width: $leftWidth;
      height: 340px;
      overflow: hidden;
      position: relative;
      img{
        width: 100%;
        heigth:100%;
        position: absolute;
        top: 0px;
        left: 0px;
      }
    }
    .description{
      clear: both;
      font-size: 14px;
      line-height: 26px;
      padding: 14px 20px;
      position: relative;
      .slidesjs-pagination{
        position: absolute;
        z-index: 10;
        top: 10px;
        right: 30px;
        height: 20px;
        width: 140px;
        zoom: 1;
        margin-right: -20px;
        overflow: hidden;
        .slidesjs-pagination-item a{
          line-height: 1000;
          display: block;
          width: 18px;
          height: 18px;
          float: left;
          margin-right: 10px;
          background-image: url("#{$img}index/focus.png");
          background-repeat: no-repeat;
          &.active{
            background-image: url("#{$img}index/focusCur.png");
          }
        }
      }
      .mb10px{
        margin-bottom: 10px;
      }
    }
    .splite{
      height: 3px;
      background-image: url("#{$img}/index/split.jpg");
      background-repeat: repeat-x;
      overflow: hidden;
      clear: both;
    }
    .CollaborateTrackStatu{
      background-color: #efefef;
      margin: 10px 0;
      padding: 40px 34px;
      padding-bottom: 0px;
      clear: both;
      overflow: hidden;
      zoom: 1;
      ul{
        clear: both;
        overflow: hidden;
      }
      li{
        display: block;
        overflow: hidden;
        float: left;
        width: 290px;
        margin-bottom: 40px;
        .smimg{
          background-image: url("#{$img}index/imgbg.jpg");
          padding: 4px 6px 13px 4px;
          background-repeat: no-repeat;
          overflow: hidden;
          float: left;
          line-height: 88px;
          height: 88px;
          img{
            width: 100px;
            height: auto;
            vertical-align: middle;
          }
        }
        .text{
          float: left;
          height: 110px;
          margin-left: 10px;
          width: 125px;
          overflow: hidden;
          .itemTitle{
            font-size: 18px;
            color: #017eff;
            line-height: 24px;
          }
          .itemText{
            font-size: 14px;
            line-height: 20px;
            color: #000;
          }
        }
        &.spliteX{
          width: 1px;
          background-color: #c1c1c1;
          display: block;
          height: 110px;
          margin-right: 25px;
          margin-left: 30px;
        }
      }

    }

    .productTable{
      border: 1px solid #5e5f68;
      .productList{
        height: 522px;
        overflow: hidden;
        overflow-y: scroll;
        box-sizing: border-box;
        width: 100%;
      }
      table{

        width: 100%;
        th{
          height: 50px;
          line-height: 50px;
          text-align: center;
          font-size: 18px;
          font-weight: bold;
          color: #ffffff;
          background-color: #019cde;
        }
        td{
          text-align: center;
          font-size: 14px;
          border-bottom:1px solid #a4a5aa;
        }
      }
      .productImg{
        width: 123px;
        padding: 10px;
        img{
          width: 123px;
          height: 82px;
        }
      }
      .fblue{
        color: #019cde;
        display: block;
      }
      .country{
        width: 80px;
        height: 52px;
      }
    }


  }
  /*右边导航*/
  .rightContent{
    width: 234px;
    float: right;
    overflow: hidden;
    zoom: 1;
    &.pt494{
      padding-top: 500px;
    }
  }
}

.contactUs{
  margin-top: 10px;
  clear: both;
  overflow: hidden;
  img{
    width: 100%;
  }
}
/*user center*/
.userInfo{
  clear: both;
  overflow: hidden;
  border: 1px solid #dddddd;
  border-radius: 2px;
  margin-top: 28px;
  box-sizing: border-box;
  padding: 12px 20px;
  width: 920px;
  position: relative;
  .changePhoto{
    width: 115px;
    float: left;
    text-align: center;
    img{
      width: 115px;
      height: 115px;
    }
    a{
      color: #8e8e8e;
      font-size: 18px;
      &:hover{
        color: #ff4400;
        cursor: pointer;
      }
    }
  }
  .infoList{
    float: left;
    margin-left: 50px;
    font-size: 18px;
    color: #000;
    line-height: 38px;
    .item {
      .iteName{
        display: inline-block;
        width: 240px;
      }
      .text{color: #646464}
    }
  }
  .changeInfoBtn{
    display: block;
    position: absolute;
    width: 87px;
    height: 28px;
    top: 12px;
    right: 114px;
    background-image: url("#{$img}/user/changebtn.png");
  }
}
.rfqs{
  clear: both;
  overflow: hidden;
  .bigText{
    font-size: 22px;
    padding-left: 30px;
    height: 110px;
    line-height: 110px;
    position: relative;
    .rfqbtn{
      position: absolute;
      top: 12px;right: 65px;
    }
  }
  .products{
    width: 100%;
    border: 2px solid #acabab;
    border-radius: 3px;

    th,td{
      border: 1px solid #acabab;
      text-align: center;
      height: 40px;
      line-height: 40px;
      font-size: 18px;
    }
    th{
      background-color: #d9f0fa;
    }
  }
  .tovewDetail{
    height: 110px;
    line-height: 110px;
    padding-left: 30px;
    position: relative;
    a{
      position: absolute;
      top: 12px;right: 65px;
    }
  }
  .other{
    padding-left: 30px;
    height: 110px;
    line-height: 110px;
    font-size: 18px;
  }
}