.content{
  width: $baseWidth;
  margin: 0px auto;
  clear: both;
  .leftContent{
    $leftWidth:715px;
    width: $leftWidth;
    float: left;
    .imgBox{
      width: $leftWidth;
      height: 340px;
      overflow: hidden;
      img{
        width: 100%;
        heigth:100%;
      }
    }
    .description{
      clear: both;
      font-size: 14px;
      line-height: 26px;
      padding: 14px 20px;
      .mb10px{
        margin-bottom: 10px;
      }
    }
    .splite{
      height: 3px;
      background-image: url("#{$img}/index/split.jpg");
    }
    .CollaborateTrackStatu{
      background-color: #efefef;
      margin: 10px 5px;
      padding: 40px 34px;
      padding-bottom: 0px;
      clear: both;
      overflow: hidden;
      li{
        display: block;
        overflow: hidden;
        float: left;
        width: 290px;
        margin-bottom: 40px;
        .smimg{
          background-image: url("#{$img}index/imgbg.jpg");
          padding: 4px 6px 13px 4px;
          background-repeat: no-repeat;
          overflow: hidden;
          float: left;
          line-height: 88px;
          height: 88px;
          img{
            width: 100px;
            height: auto;
            vertical-align: middle;
          }
        }
        .text{
          float: left;
          height: 110px;
          margin-left: 10px;
          width: 125px;
          overflow: hidden;
          .itemTitle{
            font-size: 18px;
            color: #017eff;
            line-height: 24px;
          }
          .itemText{
            font-size: 14px;
            line-height: 20px;
            color: #000;
          }
        }
        &.spliteX{
          width: 1px;
          background-color: #c1c1c1;
          display: block;
          height: 110px;
          margin-right: 25px;
          margin-left: 30px;
        }
      }

    }

    .productTable{
      border: 1px solid #5e5f68;
      .productList{
        height: 522px;
        overflow-y: scroll;
      }
      table{

        width: 100%;
        th{
          height: 50px;
          line-height: 50px;
          text-align: center;
          font-size: 18px;
          font-weight: bold;
          color: #ffffff;
          background-color: #019cde;
        }
        td{
          text-align: center;
          font-size: 14px;
          border-bottom:1px solid #a4a5aa;
        }
      }
      .productImg{
        width: 123px;
        padding: 10px;
        img{
          width: 123px;
          height: 82px;
        }
      }
      .fblue{
        color: #019cde;
        display: block;
      }
      .country{
        width: 80px;
        height: 52px;
      }
    }


  }
  /*右边导航*/
  .rightContent{
    width: 234px;
    float: right;
    &.pt494{
      padding-top: 500px;
    }
  }
}

.contactUs{
  margin-top: 10px;
  clear: both;
  overflow: hidden;
  img{
    width: 100%;
  }
}
/*user center*/
.userInfo{
  clear: both;
  overflow: hidden;
  border: 1px solid #dddddd;
  border-radius: 2px;
  margin-top: 28px;
  padding: 12px 20px;
  clear: both;
  overflow: hidden;
  position: relative;
  .changePhoto{
    width: 115px;
    float: left;
    text-align: center;
    img{
      width: 115px;
      height: 115px;
    }
    a{
      color: #8e8e8e;
      font-size: 22px;
      &:hover{
        color: #ff4400;
        cursor: pointer;
      }
    }
  }
  .infoList{
    float: left;
    margin-left: 50px;
    font-size: 18px;
    color: #2e2e2e;
    font-weight: bold;
    line-height: 38px;
    .item input{
      padding: 3px 10px;
      color: #008adf;
      width: 95px;
      border-radius: 3px;
      border: 1px solid #e6e5e5;
    }
  }
  .changeInfoBtn{
    display: block;
    position: absolute;
    width: 87px;
    height: 28px;
    top: 12px;
    right: 114px;
    background-image: url("#{$img}/user/changeBtn.jpg");
  }
}
.otherInfo{
  padding: 20px;
  border: 1px solid #dddddd;
  border-radius: 2px;
  font-size: 24px;
  margin-top: 24px;
  .line1{
    text-align: center;
    color: #fe5e22;
    font-weight: bold;
    border-bottom: 1px solid #c6c6c6;
    line-height: 48px;
    height: 48px;
    padding-bottom: 10px;
    a{
      color: #016adf;
      text-decoration: underline;
      &:hover{
        color: #f40;
        text-decoration: underline;
      }
    }
  }
  .lineOther{
    @extend .line1;
    color: #000;
    text-align: left;
    a{text-decoration: none;}
  }
  .lineLast{
    @extend .lineOther;
    border-bottom: none;
  }
}