.signTitle{
  width: $baseWidth;
  margin: 0px auto;
  height: 136px;
  line-height: 136px;
  position: relative;
  z-index: 5;
  zoom: 1;
  background-position: top center;
  background-repeat: no-repeat;
  font-size: 36px;
  color: #ffffff;
  font-weight: bold;
  .whiteBB{
    width: 126px;
    height: 4px;
    position: absolute;
    display: block;
    background-color: #ffffff;
    bottom: 35px;
    left: 0px;
    z-index: 10;
  }
}
.signBg{
  background-image: url("#{$img}loginSign/signbg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  margin-top: -10px;
  z-index: 2;
  overflow: hidden;
}
.signBox{
  width: $baseWidth;
  margin: 0px auto;
  clear: both;
  overflow: hidden;
  .signFormItem{
    clear: both;
    overflow: hidden;
    height: 61px;
    margin-bottom: 42px;
    $ht:52px;
    .signFormItemLabel{
      color: #ffffff;
      height: $ht;
      line-height: $ht;
      font-size: 22px;
      font-weight: bold;
      text-align: left;
      float: left;
      width: 205px;
    }
    .signFormItemLeft{
      float: left;
      width: 410px;
      height: $ht - 2px;
      position: relative;
      overflow: hidden;
      border: 1px solid #cbd1df;
      border-radius: 5px;
      input{
        font-size: 18px;
        color: #333333;
        height: 18px;
        width: 390px;
        line-height: 20px;
        padding:16px 10px;
        position: relative;
        border: 0 none;
        _border: none;
        zoom: 1;
      }
      .placeholder{
        position: absolute;
        top: 13px;
        font-size: 18px;
        color: #999;
        left: 12px;
        zoom: 1;
      }
      %icon{
        width: 19px;
        height: 21px;
        background-image: url("#{$img}loginSign/signIcon.jpg");
        display: block;
        position: absolute;
        top: 13px;
        right: 10px;
        &.inIcon{
          background-position: 0 0;
        }
      }
      .iconCompanyName{
        @extend %icon;
        background-position: 0 -21px;
      }
      .iconYourName{
        @extend %icon;
        background-position: -20px -21px;
        &.inIcon{
          background-position: -20px 0;
        }
      }
      .iconEmail{
        @extend %icon;
        width: 22px;
        background-position: -39px -21px;
        &.inIcon{
          background-position: -39px 0;
        }
      }
      .iconChineseName{
        @extend %icon;
        width: 22px;
        background-position: -62px -21px;
        &.inIcon{
          background-position: -62px 0;
        }
      }
      .iconTel{
        @extend %icon;
        background-position: -85px -21px;
        &.inIcon{
          background-position: -85px 0;
        }
      }
    }
    .signFormItemRight{
      width: 320px;
      float: left;
      margin-left: 23px;
      font-size: 16px;
      line-height: 57px;
      color: #ffffff;
      &.lineHeight28{
        line-height: 28px;
      }
    }
    .submitBtn{
      clear: both;
      display: block;
      height: 55px;
      width: 412px;
      background-image: url("#{$img}/loginSign/registBtn.jpg");
      background-repeat: no-repeat;
      margin: 0 auto;
    }
    .signSubmit{
      width: 380px;
      height: 50px;
      background-color: #2581c7;
      line-height: 50px;
      text-align: center;
      color: #ffffff;
      display: block;
      margin-left: 205px;
      border-radius: 3px;
      font-size: 18px;
      text-decoration: none;
    }
  }
  .toLogin{
    clear: both;
    overflow: hidden;
    text-align: left;
    padding-left: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 50px;
    a{
      text-decoration:underline;
      color: #f60;
      margin-left: 10px;
    }
  }
}