$img:"../images/";
$version:"20150329";
$baseWidth:960px;

.fm_item{
  margin-bottom: 25px;
}
.formTitle{
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: #ff7110;
  font-size: 24px;
}
.checkBox{
  width: 27px;
  height: 27px;
  background-position: -28px 0px;
  background-image: url("#{$img}common/checkBox.png?v=#{$version}");
  float: left;
  cursor: pointer;
  input{
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter:alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity:0;
  }
}
.checked{
  background-position: 0 0;
}
.context{
  float: left;
  line-height: 27px;
  font-size: 18px;
  color: #000000;
  margin-left: 10px;
  width: $baseWidth - 37px;
}
.inputText{
  line-height: 27px;
  font-size: 18px;
  color: #000000;
  input{
    width: 240px;
    font-size: 14px;
    padding: 6px 10px;
    border: 1px solid #dbdada;
    border-radius: 5px;
    margin-left: 10px;
  }
}
.textArea{
  p{
    line-height: 27px;
    font-size: 18px;
    color: #000000;
  }
  textarea{
    width: $baseWidth - 20px;
    padding: 10px;
    height: 222px;
    border: 1px solid #dbdada;
    border-radius: 5px;
    resize: none;
    font-size: 14px;
    overflow-y: scroll;
  }
}
.savebtn{
  width: 240px;
  height: 44px;
  background-image: url("#{$img}common/saveBtn.png");
  background-repeat: no-repeat;
  display: block;
  margin: 0px auto;
}
.fm_half{
  width: 50%;
  float: left;
  p{
    font-size: 18px;
    color: #000000;
  }
  .selectBox{
    border: 1px solid #dbdada;
    height: 49px;
    border-radius: 7px;
    width: 415px;
    position: relative;
    z-index: 1;
    input{
      font-size: 18px;
      padding: 12px 10px;
      width: 344px;
      border: none;
      border-radius: 8px;
    }
  }
  .inputBox{
    @extend .selectBox;
    input{
      width: 390px;
    }
  }
}
.mt30{
  margin-top: 30px;
}
.selectDown{
  width: 48px;
  height: 49px;
  background-image: url("#{$img}common/selectright.png");
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  background-position: -49px 0px;
}
.open{
  background-position: 0 0;
}
.leftTextContent{
  height: 27px;
  line-height: 27px;
  float: left;
  margin-left: 10px;
}
.ml480{
  margin-left: 480px;
}
.fm_tit{
  font-size: 24px;
  line-height: 48px;
  height: 48px;
  border-bottom: 1px solid #aaaaaa;
  display: block;
  overflow: hidden;
}
.canPoint{
  &:hover{
    text-decoration: none;
    color: #ff7110;
  }
}
.orgBorder{
  border-color: #ff7110;
  color: #ff7110;
}
.uploadImg{
  margin-top: 10px;
  background-color: #343434;
  padding: 24px 32px;
  overflow:hidden;
  img{
    width: 458px;
    height: 303px;
    float: left;
  }
  .rightTextBtn{
    float: left;
    margin-left: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    width: 311px;
    p{
      margin-top: 80px;
    }
    .addMoreFiles{
      margin-left: 80px;
      margin-top: 40px;
    }
    .submitBtns{
      width: 144px;
      height: 34px;
      display: block;
      overflow:hidden;
      background-image: url("#{$img}common/submitBlackBtn.png");
      background-repeat: no-repeat;
      margin-left: 80px;
      margin-top: 40px;
    }

  }
}
.fm_tit_name{
  font-size: 24px;
  line-height: 48px;
  height: 48px;
}
.moreIcon{
  background-image: url("#{$img}common/moreInfo.png");
  background-repeat: no-repeat;
  overflow:hidden;
  display: inline-block;
  width: 8px;
  height: 14px;
  background-position: 0 0;
}
.orgBorder{
  .moreIcon{
    width: 14px;
    height: 14px;
    background-position: -8px 0px;
  }
}
.checkBoxList{
  padding: 20px;
  border: 1px solid #ffc095;
  overflow:hidden;
  label{
    display: block;
    float: left;
    margin-bottom: 20px;
  }
  .leftTextCon{
    height: 27px;
    line-height: 27px;
    font-size: 18px;
    margin-left: 10px;
    float: left;
    width: 140px;
  }
}
.leftName{
  float: left;
  width: 180px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
}
.rightInput{
  float: left;
  width: 240px;
  height: 30px;
  border: 1px solid #d5d4d4;
  border-radius: 5px;
  input{
    width: 220px;
    font-size: 16px;
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
  }
}
.rightSelect{
  float: left;
  width: 240px;
  height: 29px;
  border: 1px solid #d5d4d4;
  border-radius: 5px;
  position: relative;
  input{
    font-size: 16px;
    padding: 4px 10px;
    width: 193px;
    border: none;
    border-radius: 5px;
  }
}
.selectTrangle{
  background-image: url("#{$img}common/selectrightsm.png");
  width: 26px;
  height: 29px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.selectOpen{
  background-position: -27px 0px;
}
.textAreaBorder{
  border: 1px solid #d5d4d4;
  resize: none;
  width: 940px;
  height: 180px;
  padding: 10px;
  border-radius: 5px;
}
.remarkbtn{
  display: block;
  width: 240px;
  height: 45px;
  background-image: url("#{$img}common/remark.png");
  background-repeat: no-repeat;
  margin: 0 auto;
}
.fileUpload{
  border: 1px solid #c3c2c2;
  height: 34px;
  border-radius: 5px;
  position: relative;
  overflow:hidden;
  background-color: #f0f0f0;
  input{
    font-size: 16px;
    width: 728px;
    border: none;
    padding: 8px 10px;
    background-color: #f0f0f0;
  }
}
.browseBtn{
  position: absolute;
  width: 164px;
  height: 34px;
  background-image: url("#{$img}common/fileUploadBtn.png");
  background-repeat: no-repeat;
  top: 0px;
  right: 0px;
}
.submitBtnN{
  margin: 30px auto;
}
.radiolist{
  span{
    float: left;
    margin-right: 50px;
  }
  label{
    float: left;
    margin-top: 13px;
  }
}
.radioBox{
  width: 22px;
  height: 22px;
  float: left;
  background-image: url("#{$img}common/radio.png");
  cursor: pointer;
  input{
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter:alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity:0;
  }
}
.openRadio{
  background-position: -22px 0px;
}
.radioText{
  float: left;
  height: 22px;
  line-height: 22px;
  width: 80px;
  margin-left: 10px;
  font-weight: normal;
}
.rightRadio,.rightCheckbox{
  float: left;
  width: 770px;
  label{
    display: block;
    float: left;
    margin-bottom: 10px;
  }
}
.radioTextLong,.checkBoxTextLong{
  @extend .radioText;
  width: 280px;
  font-size: 16px;
}
.checkBoxTextLong{
  @extend .radioText;
  width: auto;
  margin-right: 20px;
  height: 27px;
  line-height: 27px;
  font-size: 18px;
}
.justNeed{
  font-size: 16px;
  color: #019cde;
  &:hover{
    color: #ff7110;
  }
}

.leftSaveBtn{
  width: 240px;
  height: 45px;
  margin: 0px auto;
  display: block;
  overflow: hidden;
  background-image: url("#{$img}common/saveBtns.png");
  background-repeat: no-repeat;
}
.rightDeleteBtn{
  @extend .leftSaveBtn;
  background-image: url("#{$img}common/deleteBtn.png");
}
.tableInfo{
  border: 1px solid #acabab;
  margin-top: 10px;
  overflow: hidden;
  table{
    width: 100%;
    th{
      height: 50px;
      text-align: center;
      border: 1px solid #b3c6ce;
      width: 10%;
      background-color: #d9f0fa;
      font-size: 18px;
    }
    td{
      height: 40px;
      text-align: center;
      font-size: 18px;
      border: 1px solid #b3c6ce;
      a{
        color: #019cde;
        text-decoration: underline;
        &:hover{
          color: #f60;
        }
      }
    }
  }
}
.f18{
  font-size: 18px;
}
.submitBigBtn{
  width: 144px;
  height: 34px;
  display: block;
  margin: 0px auto;
  background-image: url("#{$img}common/submitbigBtn.png");
  background-repeat: no-repeat;
  overflow: hidden;
}
.factoryInfo{
  border: 2px solid #e6e6e6;
  padding: 25px;
  margin-top: 30px;
  background-color: #f9f9f9;
  border-radius: 3px;
  overflow: hidden;
  .factoryPhoto{
    width: 140px;
    text-align: center;
    float: left;
    .factoryPhotoImg{
      width: 128px;
      height: 128px;
    }
    p{
      font-size: 18px;
      line-height: 36px;
      height: 36px;
      color: #019cde;
    }
  }
  .factoryInfoEdit{
    float: left;
    margin-left: 20px;
  }
  .fi_item{
    height: 32px;
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    .fi_left,.fi_center,.fi_right{
      height: 32px;
      float: left;
    }
    .fi_left{
      width: 215px;
      font-size: 18px;
      line-height: 32px;
    }
    .fi_center input{
      font-size: 18px;
      padding: 3px 10px;
      border-radius: 3px;
      border: 2px solid #ebeaea;
    }
    .fi_right{
      margin-left: 10px;
      line-height: 32px;
      font-size: 16px;
      color: #019cde;
    }
  }
}
.fi_radioItem{
  margin-top: 20px;
  font-size: 18px;
  label{
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
  }
}
.browseingBtn{
  margin: 80px auto;
}
.tcenter{
  text-align: center;
}
.userTable{
  border: 1px solid #acabab;
  margin-top: 10px;
  overflow: hidden;
  table{
    width: 100%;
    th{
      height: 55px;
      line-height: 55px;
      text-align: center;
      font-size: 18px;
      border: 1px solid #d2d2d2;
      background-color: #d9f0fa;
    }
    td{
      border: 1px solid #d2d2d2;
      font-size: 18px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      a{
        color: #019cde;
        text-decoration: underline;
        &:hover{
          color: #f60;
        }
      }
    }
  }
}
.addCustomer{
  width: 240px;
  height: 45px;
  display: block;
  overflow: hidden;
  background-image: url("#{$img}common/addCustomer.png");
  background-repeat: no-repeat;
  margin: 0 auto;
}
.offeringList{
  border: 1px solid #acabab;
  margin-top: 10px;
  overflow: hidden;
  table{
    width: 100%;
    th{
      height: 55px;
      text-align: center;
      font-size: 18px;
      border: 1px solid #d2d2d2;
      background-color: #d9f0fa;
    }
    td{
      border: 1px solid #d2d2d2;
      font-size: 18px;
      height: 40px;
      text-align: center;
      a{
        color: #019cde;
        text-decoration: underline;
        &:hover{
          color: #f60;
        }
      }
    }
  }
}

.newrfqsBtn{
  width: 240px;
  height: 45px;
  display: block;
  overflow: hidden;
  background-image: url("#{$img}common/newfoq.png");
  background-repeat: no-repeat;
  margin: 0 auto;
}
.settingBtn{
  @extend .newrfqsBtn;
  background-image: url("#{$img}common/setting.png");
}
.inquiryDetails{
  border: 2px solid #e6e6e6;
  border-radius: 3px;
  padding: 25px;
  overflow: hidden;
  background-color: #f9f9f9;
}
.hf_item{
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  .hf_left{
    height: 32px;
    line-height: 32px;
    font-size: 18px;
    width: 170px;
    float: left;
  }
  .hf_right{
    height: 32px;
    line-height: 32px;
    font-size: 18px;
    float: left;
    .textInput{
      width: 220px;
      border: 1px solid #ebeaea;
      font-size: 16px;
      padding: 5px 10px;
      border-radius: 3px;
      color: #8b8b8b;
    }
  }
}
.info_tit{
  font-size: 22px;
  height: 40px;
  line-height: 40px;
  padding-left: 25px;
  border-bottom: 2px solid #6a6a6a;
}
.detailDiv{
  padding: 25px;
}
.ddItem{
  clear: both;
  overflow: hidden;
  font-size: 20px;
  .ddleft{
    float: left;
    width: 350px;
    height: 30px;
    line-height: 30px;
  }
  .ddright{
    float: left;
    height: 30px;
    line-height: 30px;
  }
}
.ddline{
  border-bottom: 2px solid #cbcbcb;
}
.leftUpdatebtn{
  width: 240px;
  height: 45px;
  margin: 0px auto;
  display: block;
  overflow: hidden;
  background-image: url("#{$img}common/updateBtn.png");
  background-repeat: no-repeat;
}
.rightDeleteRfqBtn{
  @extend .leftSaveBtn;
  background-image: url("#{$img}common/deleterfq.png");
}
.bigSubmitBtn{
  @extend .leftUpdatebtn;
  background-image: url("#{$img}common/bigsubmit.png");
}
.sendbtn{
  @extend .leftUpdatebtn;
  background-image: url("#{$img}common/sendbtn.png");
}
/*user center modify */
.imageTextBox{
  border: 2px solid #e6e6e6;
  border-radius: 3px;
  padding: 25px;
  overflow: hidden;
  background-color: #f9f9f9;
  position: relative;
}
.leftImgBox{
  width: 130px;
  text-align: center;
  float: left;
  image{
    width: 130px;
  }
  a{
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #019cde;
    &:hover{
      color: #f60;
    }
  }
}
.rightInfoEdit{
  float: left;
  margin-left: 35px;
  .textEditItem{
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    .textEditLeft{
      float: left;
      width: 150px;
      font-size: 18px;
      height: 32px;
      line-height: 32px;
    }
    .textEditRight{
      float: left;
      .textInput{
        width: 220px;
        border: 1px solid #d5d4d4;
        font-size: 16px;
        padding: 5px 10px;
        border-radius: 3px;
      }
    }
  }
}
.rightTopBox{
  width: 265px;
  position: absolute;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  top: 25px;
  right: 25px;
  .deleteBtnGray{
    float: right;
  }
}
.addFilesBtn{
  width: 145px;
  height: 35px;
  position: absolute;
  zoom: 1;
  right: 25px;
  bottom: 25px;
}
.dropBox{
  position: absolute;
  width: 240px;
  border: 1px solid #d5d4d4;
  background-color: #fff;
  display: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 10;
  .dbItem{
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
    display: block;
    border-bottom: 1px solid #d5d4d4;
    text-decoration: none;
    &:hover{
      background-color: #019cde;
      color: #fff;
    }
  }
}
.dropBoxBig{
  position: absolute;
  width: 415px;
  border: 1px solid #d5d4d4;
  background-color: #fff;
  display: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 10;
  .dbItem{
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
    display: block;
    border-bottom: 1px solid #d5d4d4;
    text-decoration: none;
    &:hover{
      background-color: #019cde;
      color: #fff;
    }
  }
}
.fblue{
  color: #019cde;
}
.factoryTab{
  border: 1px solid #d5d4d4;
  background-color: #f9f9f9;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  overflow: hidden;
  .fi_radioItem{
    width: 936px - 20px;
    overflow: hidden;
    border: 1px solid #817e7e;
    padding: 10px;
    background-color: #fff;
    label{
      float: left;
      margin-right: 30px;
      .radioText{
        width: 170px;
      }
    }

  }
  .textAreaBorder{
    width: 916px;
  }
}