@import "../../libs/scss/pc/global";
@import "font";

@include global_reset("12px/1.5 Arial,SimSun,Tahoma",#333333,#fff,#000000,#ff4400);
$img:"../images/";
$version:"20150329";
$baseWidth:960px;
.warp{clear: both;width: 100%;min-width: $baseWidth;}
@import "header";
@import "login";
@import "sign";

.container{
  min-width: $baseWidth;
  margin-top: -10px;
  clear: both;
  .menuInner{
    height: 36px;
    width: 100%;
    min-width: $baseWidth;
    background-image: url("#{$img}menu/menubg.jpg?v=#{$version}");
    line-height: 36px;
    background-repeat:repeat-x;
    .menuBox{
      width: $baseWidth;
      margin: 0 auto;
      clear: both;
      ul{
        float: left;
        li{
          float: left;
          text-align: center;
          border-left: 1px solid #a5a5a5;
          border-right: 1px solid #ffffff;
          &.borderRight{
            border-right: 1px solid #a5a5a5;
          }
          a{

            $menuheight: 33px;
            height: $menuheight;
            display: block;
            width: 143px;
            line-height: $menuheight;
            font-size: 14px;
            font-weight: bold;
            position: relative;
            &.active,&:hover{
              background-color: #ffffff;
              text-decoration: none;
              color: #ff4400;
            }
            .iconMoney{
              display: inline-block;
              width: 27px;
              height: 24px;
              background-image: url("#{$img}/icons.png");
              background-position: 0 0;
              background-repeat: no-repeat;
              overflow: hidden;
              position: relative;
              top: 7px;
              left: 4px;
            }
            .iconContact{
              display: inline-block;
              width: 24px;
              height: 24px;
              background-image: url("#{$img}/icons.png");
              background-position: -28px 0;
              background-repeat: no-repeat;
              overflow: hidden;
              position: relative;
              top: 6px;
              left: 4px;
            }
          }
        }
      }
      .rightOnly{
        float: right;
        width: 234px;
        height: 35px;
        line-height: 35px;
        display: block;
        text-align: center;
        font-size: 14px;
        background-color: #ffffff;
        border-right: 1px solid #a5a5a5;
        text-decoration: none;
      }
    }
  }

}
@import "index";