@import "rem-calc";
@import "reset";
$img:"../images/";

$mediaArray: "only screen and (max-width: 359px)",
"only screen and (min-width:360px) and (max-width:399px)",
"only screen and (min-width:400px) and (max-width:479px)",
"only screen and (min-width:480px)";
$rem-base: 32px;
$ratioFor320:640/320;
$ratioFor360:640/360;
$ratioFor400:640/400;
$ratioFor480:640/480;
$ratioFor640:640/640;
$htmSizeArray:  floor($rem-base/$ratioFor320),
floor($rem-base/$ratioFor360),
floor($rem-base/$ratioFor400),
floor($rem-base/$ratioFor480),
floor($rem-base/$ratioFor640);

.container{
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  .swipeImg{
    display: block;
    overflow: hidden;
    text-align: center;
    position: fixed;
    z-index: 100;
    bottom: rem-calc(30px);
    width: 100%;
    img{
      height: rem-calc(35px);
      &:first-child{
        -webkit-animation: moveIconUp ease 1.5s both infinite;
        animation: moveToBottom ease 1.5s both infinite;
      }
      @-webkit-keyframes moveIconUp {
        0% { -webkit-transform: translateY(100%); opacity:0;}
        50% { -webkit-transform: translateY(0%); opacity:1;}
        100% { -webkit-transform: translateY(-100%); opacity:0;}
      }
      @keyframes moveIconUp {
        0% { -webkit-transform: translateY(100%); transform: translateY(100%); opacity:0;}
        50% { -webkit-transform: translateY(0%); transform: translateY(0%); opacity:1;}
        100% { -webkit-transform: translateY(-100%); transform: translateY(-100%); opacity:0;}
      }
    }
  }
}

%page{
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: none;
  background-repeat: no-repeat;
}
.page1{
  @extend %page;
  background-image: url("#{$img}/bg1.jpg");
  .text1{
    width: 80%;
    position: absolute;
    top: rem-calc(48px);
    left: rem-calc(65px);
    display: none;
  }
}
.page2{
  @extend %page;
  background-image: url("#{$img}/bg2.jpg");
  .text2{
    width: 90%;
    position: absolute;
    top: rem-calc(48px);
    left: rem-calc(35px);
    display: none;
  }
  .map{
    width: 100%;
    top: rem-calc(380px);
    position: absolute;
    display: none;
  }
  .yuan1,.yuan2,.yuan3{
    @extend .map;
  }
}
.page3{
  @extend %page;
  background-image: url("#{$img}/bg3.jpg");
  .gan1{
    height: 16%;
    top: 3%;
    left: 15%;
    display: none;
    position: absolute;
  }
  .jian1{
    height: 10%;
    top: 10%;
    position: absolute;
    left: 43%;
    display: none;
  }
  .gan2{
    height: 16%;
    top: 21%;
    left: 52%;
    position: absolute;
    display: none;
  }
  .jian2{
    height: 10%;
    top: 29%;
    position: absolute;
    left: 30%;
    display: none;
  }
  .gan3{
    height: 16%;
    top: 40%;
    left: 10%;
    display: none;
    position: absolute;
  }
  .jian3{
    height: 10%;
    top: 43%;
    position: absolute;
    left: 41%;
    display: none;
  }
  .gan4{
    height: 16%;
    top: 54%;
    position: absolute;
    left: 48%;
    display: none;
  }
  .text3{
    width: 100%;
    height: 20%;

    position: absolute;
    bottom: 10%;
    display: none;
  }
}
.page4{
  @extend %page;
  background-image: url("#{$img}/bg4.jpg");
  .text4{
    width: 100%;
    position: absolute;
    top: rem-calc(48px);
    left: 0;
    display: none;
  }
}
.page5{
  @extend %page;
  background-image: url("#{$img}/bg5.jpg");
  .text5{
    width: 100%;
    position: absolute;
    top: rem-calc(60px);
    left: 0;
    display: none;
  }
}
.pageAdd{
  @extend %page;
  background-image: url("#{$img}/bgadd.jpg");
  .textAdd{
    width: 100%;
    position: absolute;
    top: rem-calc(60px);
    height: 40%;
    text-align: center;
    left: 0;
    display: none;
    img{
      height: 100%;
      display: block;
      margin: 0 auto;
    }
  }
  .yezi{
    display: none;
    overflow: hidden;
    height: 49%;
    bottom: 0px;
    left: 0px;
    z-index: 100;
    position: absolute;
    img{
      display: block;
      margin: 0 auto;
      height: 100%;
    }
  }
  .yaopian{
    @extend .yezi;
    z-index: 120;
  }
}
.page6{
  @extend %page;
  background-image: url("#{$img}/bg6.jpg");
  .xin{
    height: 51%;
    width: 100%;
    position: absolute;
    top: 0px;
    display: none;
    text-align: center;
    img{
      height: 100%;
      display: block;
      margin: 0 auto;
    }
  }
  .text6{
    width: 100%;
    position: absolute;
    top: 48%;
    left: 0;
    display: none;
  }
  .bottomImg{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: none;
  }
}
.page7_1{
  @extend %page;
  background-image: url("#{$img}bg7_1.jpg");
  .point{
    position: absolute;
    top: rem-calc(355px);
    height: 20%;
    display: none;
    right: 10%;
  }
  .leaf{
    width: 100%;
    top: 30%;
    display: none;
    position: absolute;
    height: rem-calc(295px);
    line-height: rem-calc(295px);
    background-image: url("#{$img}inputLeaf.png");
    background-size: cover;
    background-repeat: no-repeat;
    input{
      background: none;
      border: 0 none;
      text-align: center;
      width: 100%;
      font-size: rem-calc(80px);
      font-weight: bold;
      color: #ffffff;
    }
  }
  .countOfUser{
    width: 100%;
    height: rem-calc(200px);
    font-size: rem-calc(45px);
    text-align: center;
    color: #ffffff;
    position: absolute;
    bottom: 0px;
    line-height: rem-calc(60px);
    text-shadow: 0 1px 1px #000;
    .num{
      min-width: rem-calc(57px*3);
      height: rem-calc(78px);
      display: inline-block;
      color: #f30;
      font-weight: bold;
      font-size: rem-calc(60px);
      line-height: rem-calc(78px);
      background-image: url("#{$img}numbg.png");
      background-size: auto 100%;
      letter-spacing:rem-calc(10px);
      border-radius: 3px;
      text-align: center;
      margin: 0px rem-calc(7px);
      text-shadow:none;
    }
  }
  .countOfUserAgain{
    @extend .countOfUser;
    display: none;
    top: 8%;
  }
  .qipao{
    width: 100%;
    top: 0px;
    position: absolute;
    left: 0px;
    display: none;
  }
  .invite{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 30%;
    background: rgba(0,0,0,0.9);
    display: none;
    img{
      height: 100%;
      display: block;
      margin: 0 auto;
    }
  }
  .makeSure {
    height: rem-calc(88px);
    position: absolute;
    bottom: 15%;
    left: 23%;
    display: none
  }
  .inputResult {
    height: rem-calc(145px);
    position: absolute;
    right: rem-calc(30px);
    background-image: url("#{$img}/smalLeaf.png");
    background-size: cover;
    font-size: rem-calc(50px);
    color: #ffffff;
    font-weight: bold;
    width: rem-calc(310px);
    top: 40%;
    display: none;
    text-align: center;
    span{
      position: absolute;
      right: rem-calc(20px);
      left: 9%;
      top: rem-calc(50px);
      width: 90%;
    }
  }
  .lastImg{
    width: 100%;
    zoom: 1;
    z-index: 999;
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    height: 100%;
    background: rgba(0,0,0,0.9);
    img{
      height: 90%;
      margin: 0 auto;
      display: block;
    }
  }
}
.page7_2{
  @extend %page;
  background-image: url("#{$img}bg7_2.png");
}
.page7_3{
  @extend %page;
  background-image: url("#{$img}bg7_3.png");
}

.u-audio {
  position: absolute;
  top: 2%;
  right: 5%;
  width: 26px;
  height: 26px;
  z-index: 200;
  overflow: hidden;
}

.audio-icon {
  background-size: cover;
  width: 26px;
  height: 26px;
  background-image: url("#{$img}/music.png");
  background-repeat: no-repeat;
  display: block;
}

.audio-xuan {
  -webkit-animation-name: x-loading-spinner-rotate;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes x-loading-spinner-rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}





// set responsive
@for $mediaIndex from 1 to length($mediaArray) + 1 {
  $media: nth($mediaArray, $mediaIndex);
  $htmlFz: nth($htmSizeArray, $mediaIndex);
  @media #{$media}
  {
    html {
      font-size: $htmlFz;
    }
  }
}