@import "rem-calc";
@import "reset";
$img:"../images/";

$mediaArray: "only screen and (max-width: 359px)",
"only screen and (min-width:360px) and (max-width:399px)",
"only screen and (min-width:400px) and (max-width:479px)",
"only screen and (min-width:480px)";
$rem-base: 32px;
$ratioFor320:640/320;
$ratioFor360:640/360;
$ratioFor400:640/400;
$ratioFor480:640/480;
$ratioFor640:640/640;
$htmSizeArray:  floor($rem-base/$ratioFor320),
floor($rem-base/$ratioFor360),
floor($rem-base/$ratioFor400),
floor($rem-base/$ratioFor480),
floor($rem-base/$ratioFor640);

.container{
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  .swipeImg{
    display: block;
    overflow: hidden;
    text-align: center;
    position: fixed;
    z-index: 100;
    bottom: rem-calc(30px);
    width: 100%;
    img{
      height: rem-calc(35px);
      &:first-child{
        -webkit-animation: moveIconUp ease 1.5s both infinite;
        animation: moveToBottom ease 1.5s both infinite;
      }
      @-webkit-keyframes moveIconUp {
        0% { -webkit-transform: translateY(100%); opacity:0;}
        50% { -webkit-transform: translateY(0%); opacity:1;}
        100% { -webkit-transform: translateY(-100%); opacity:0;}
      }
      @keyframes moveIconUp {
        0% { -webkit-transform: translateY(100%); transform: translateY(100%); opacity:0;}
        50% { -webkit-transform: translateY(0%); transform: translateY(0%); opacity:1;}
        100% { -webkit-transform: translateY(-100%); transform: translateY(-100%); opacity:0;}
      }
    }
  }
}

%page{
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: none;
  background-repeat: no-repeat;
}
.page1{
  @extend %page;
  background-image: url("#{$img}/bg1.jpg");
  .text1{
    width: 80%;
    position: absolute;
    top: rem-calc(48px);
    left: rem-calc(65px);
    display: none;
  }
}
.page2{
  @extend %page;
  background-image: url("#{$img}/bg2.jpg");
  .text2{
    width: 90%;
    position: absolute;
    top: rem-calc(48px);
    left: rem-calc(35px);
    display: none;
  }
  .map{
    width: 100%;
    top: rem-calc(380px);
    position: absolute;
    display: none;
  }
  .yuan1,.yuan2,.yuan3{
    @extend .map;
  }
}
.page3{
  @extend %page;
  background-image: url("#{$img}/bg3.jpg");
  .gan{
    width: 80%;
    top: 0px;
    left: rem-calc(64px);
    position: absolute;
    display: none;
  }
  .text3{
    width: 100%;
    position: absolute;
    bottom: rem-calc(90px);
    display: none;
  }
}
.page4{
  @extend %page;
  background-image: url("#{$img}/bg4.jpg");
  .text4{
    width: 100%;
    position: absolute;
    top: rem-calc(48px);
    left: 0;
    display: none;
  }
}
.page5{
  @extend %page;
  background-image: url("#{$img}/bg5.jpg");
  .text5{
    width: 100%;
    position: absolute;
    top: rem-calc(60px);
    left: 0;
    display: none;
  }
}
.page6{
  @extend %page;
  background-image: url("#{$img}/bg6.jpg");
  .xin{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
  }
  .text6{
    width: 100%;
    position: absolute;
    top: rem-calc(542px);
    left: 0;
    display: none;
  }
  .bottomImg{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: none;
  }
}
.page7_1{
  @extend %page;
  background-image: url("#{$img}bg7_1.jpg");
  .point{
    position: absolute;
    width: 100%;
    top: rem-calc(355px);
    display: none;
  }
  .leaf{
    width: 100%;
    top: 30%;
    position: absolute;
    height: rem-calc(295px);
    line-height: rem-calc(295px);
    background-image: url("#{$img}inputLeaf.png");
    background-size: cover;
    background-repeat: no-repeat;
    input{
      background: none;
      border: 0 none;
      text-align: center;
      width: 100%;
      font-size: rem-calc(80px);
      font-weight: bold;
      color: #ffffff;
    }
  }
  .countOfUser{
    width: 100%;
    height: rem-calc(200px);
    font-size: rem-calc(45px);
    text-align: center;
    color: #ffffff;
    position: absolute;
    bottom: 0px;
    line-height: rem-calc(60px);
    .num{
      width: rem-calc(57px);
      height: rem-calc(78px);
      display: inline-block;
      color: #f30;
      font-weight: bold;
      font-size: rem-calc(60px);
      line-height: rem-calc(78px);
      background-image: url("#{$img}numbg.png");
      background-size: cover;
      text-align: center;
      margin: 0px rem-calc(7px);
    }
  }
}
.page7_2{
  @extend %page;
  background-image: url("#{$img}bg7_2.png");
}
.page7_3{
  @extend %page;
  background-image: url("#{$img}bg7_3.png");
}






// set responsive
@for $mediaIndex from 1 to length($mediaArray) + 1 {
  $media: nth($mediaArray, $mediaIndex);
  $htmlFz: nth($htmSizeArray, $mediaIndex);
  @media #{$media}
  {
    html {
      font-size: $htmlFz;
    }
  }
}