.fm_item { margin-bottom: 25px; }

.formTitle { height: 100px; line-height: 100px; text-align: center; color: #ff7110; font-size: 24px; }

.checkBox { width: 27px; height: 27px; background-position: -28px 0px; background-image: url("../images/common/checkBox.png?v=20150329"); float: left; cursor: pointer; }
.checkBox input { opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; }

.checked { background-position: 0 0; }

.context { float: left; line-height: 27px; font-size: 18px; color: #000000; margin-left: 10px; width: 923px; }

.inputText { line-height: 27px; font-size: 18px; color: #000000; }
.inputText input { width: 240px; font-size: 14px; padding: 6px 10px; border: 1px solid #dbdada; border-radius: 5px; margin-left: 10px; }

.textArea p { line-height: 27px; font-size: 18px; color: #000000; }
.textArea textarea { width: 940px; padding: 10px; height: 222px; border: 1px solid #dbdada; border-radius: 5px; resize: none; font-size: 14px; overflow-y: scroll; }

.savebtn { width: 240px; height: 44px; background-image: url("../images/common/saveBtn.png"); background-repeat: no-repeat; display: block; margin: 0px auto; }

.fm_half { width: 50%; float: left; }
.fm_half p { font-size: 18px; color: #000000; }
.fm_half .selectBox, .fm_half .inputBox { border: 1px solid #dbdada; height: 49px; border-radius: 7px; width: 415px; position: relative; z-index: 1; }
.fm_half .selectBox input, .fm_half .inputBox input { font-size: 18px; padding: 12px 10px; width: 344px; border: none; border-radius: 8px; }
.fm_half .inputBox input { width: 390px; }

.mt30 { margin-top: 30px; }

.selectDown { width: 48px; height: 49px; background-image: url("../images/common/selectright.png"); display: block; position: absolute; top: 0px; right: 0px; background-position: -49px 0px; }

.open { background-position: 0 0; }

.leftTextContent { height: 27px; line-height: 27px; float: left; margin-left: 10px; }

.ml480 { margin-left: 480px; }

.fm_tit { font-size: 24px; line-height: 48px; height: 48px; border-bottom: 1px solid #aaaaaa; }

.orgBorder { border-color: #ff7110; color: #ff7110; }

.uploadImg { margin-top: 10px; background-color: #343434; padding: 24px 32px; overflow: hidden; }
.uploadImg img { width: 458px; height: 303px; float: left; }
.uploadImg .rightTextBtn { float: left; margin-left: 50px; color: #fff; font-size: 18px; font-weight: bold; width: 311px; }
.uploadImg .rightTextBtn p { margin-top: 80px; }
.uploadImg .rightTextBtn .addMoreFiles { width: 144px; height: 34px; display: block; overflow: hidden; background-image: url("../images/common/addMore.png"); background-repeat: no-repeat; margin-left: 80px; margin-top: 40px; }
.uploadImg .rightTextBtn .submitBtns { width: 144px; height: 34px; display: block; overflow: hidden; background-image: url("../images/common/submitBlackBtn.png"); background-repeat: no-repeat; margin-left: 80px; margin-top: 40px; }

.fm_tit_name { font-size: 24px; line-height: 48px; height: 48px; }

.moreIcon { background-image: url("../images/common/moreInfo.png"); background-repeat: no-repeat; overflow: hidden; display: inline-block; width: 8px; height: 14px; background-position: 0 0; }

.orgBorder .moreIcon { width: 14px; height: 14px; background-position: -8px 0px; }

.checkBoxList { padding: 20px; border: 1px solid #ffc095; overflow: hidden; }
.checkBoxList label { display: block; float: left; margin-bottom: 20px; }
.checkBoxList .leftTextCon { height: 27px; line-height: 27px; font-size: 18px; margin-left: 10px; float: left; width: 140px; }

.leftName { float: left; width: 170px; height: 30px; line-height: 30px; font-size: 18px; }

.rightInput { float: left; width: 240px; height: 30px; border: 1px solid #d5d4d4; border-radius: 5px; }
.rightInput input { width: 220px; font-size: 16px; padding: 4px 10px; border: none; border-radius: 5px; }

.rightSelect { float: left; width: 240px; height: 29px; border: 1px solid #d5d4d4; border-radius: 5px; position: relative; }
.rightSelect input { font-size: 16px; padding: 4px 10px; width: 193px; border: none; border-radius: 5px; }

.selectTrangle { background-image: url("../images/common/selectrightsm.png"); width: 26px; height: 29px; position: absolute; top: 0px; right: 0px; }

.selectOpen { background-position: -27px 0px; }

.textAreaBorder { border: 1px solid #d5d4d4; resize: none; width: 940px; height: 180px; padding: 10px; border-radius: 5px; }

.remarkbtn { display: block; width: 240px; height: 45px; background-image: url("../images/common/remark.png"); background-repeat: no-repeat; margin: 0 auto; }

.fileUpload { border: 1px solid #c3c2c2; height: 34px; border-radius: 5px; position: relative; overflow: hidden; background-color: #f0f0f0; }
.fileUpload input { font-size: 16px; width: 728px; border: none; padding: 8px 10px; background-color: #f0f0f0; }

.browseBtn { position: absolute; width: 164px; height: 34px; background-image: url("../images/common/fileUploadBtn.png"); background-repeat: no-repeat; top: 0px; right: 0px; }

.submitBtnN { width: 144px; height: 34px; background-image: url("../images/common/submitBtn.png"); background-repeat: no-repeat; overflow: hidden; display: block; margin: 30px auto; }

.radiolist span { float: left; margin-right: 50px; }
.radiolist label { float: left; margin-top: 13px; }

.radioBox { width: 22px; height: 22px; float: left; background-image: url("../images/common/radio.png"); cursor: pointer; }
.radioBox input { opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; }

.openRadio { background-position: -22px 0px; }

.radioText, .radioTextLong, .checkBoxTextLong { float: left; height: 22px; line-height: 22px; width: 80px; margin-left: 10px; font-weight: normal; }

.rightRadio, .rightCheckbox { float: left; width: 790px; }
.rightRadio label, .rightCheckbox label { display: block; float: left; margin-bottom: 10px; }

.radioTextLong, .checkBoxTextLong { width: 225px; font-size: 16px; }

.checkBoxTextLong { width: auto; margin-right: 20px; height: 27px; line-height: 27px; font-size: 18px; }

.leftSaveBtn, .rightDeleteBtn, .rightDeleteRfqBtn { width: 240px; height: 45px; margin: 0px auto; display: block; overflow: hidden; background-image: url("../images/common/saveBtns.png"); background-repeat: no-repeat; }

.rightDeleteBtn { background-image: url("../images/common/deleteBtn.png"); }

.tableInfo { border: 1px solid #acabab; margin-top: 10px; overflow: hidden; }
.tableInfo table { width: 100%; }
.tableInfo table th { height: 50px; text-align: center; border: 1px solid #b3c6ce; width: 10%; background-color: #d9f0fa; font-size: 18px; }
.tableInfo table td { height: 40px; text-align: center; font-size: 18px; border: 1px solid #b3c6ce; }
.tableInfo table td a { color: #019cde; text-decoration: underline; }
.tableInfo table td a:hover { color: #f60; }

.f18 { font-size: 18px; }

.submitBigBtn { width: 144px; height: 34px; display: block; margin: 0px auto; background-image: url("../images/common/submitbigBtn.png"); background-repeat: no-repeat; overflow: hidden; }

.factoryInfo { border: 2px solid #e6e6e6; padding: 25px; margin-top: 30px; background-color: #f9f9f9; border-radius: 3px; overflow: hidden; }
.factoryInfo .factoryPhoto { width: 140px; text-align: center; float: left; }
.factoryInfo .factoryPhoto .factoryPhotoImg { width: 128px; height: 128px; }
.factoryInfo .factoryPhoto p { font-size: 18px; line-height: 36px; height: 36px; color: #019cde; }
.factoryInfo .factoryInfoEdit { float: left; margin-left: 20px; }
.factoryInfo .fi_item { height: 32px; clear: both; overflow: hidden; margin-bottom: 20px; }
.factoryInfo .fi_item .fi_left, .factoryInfo .fi_item .fi_center, .factoryInfo .fi_item .fi_right { height: 32px; float: left; }
.factoryInfo .fi_item .fi_left { width: 215px; font-size: 18px; line-height: 32px; }
.factoryInfo .fi_item .fi_center input { font-size: 18px; padding: 3px 10px; border-radius: 3px; border: 2px solid #ebeaea; }
.factoryInfo .fi_item .fi_right { margin-left: 10px; line-height: 32px; font-size: 16px; color: #019cde; }

.fi_radioItem { margin-top: 20px; font-size: 18px; }
.fi_radioItem label { display: block; overflow: hidden; margin-bottom: 20px; }

.browseingBtn { width: 144px; height: 34px; background-image: url("../images/common/browseingbtn.png"); display: block; overflow: hidden; margin: 80px auto; }

.tcenter { text-align: center; }

.userTable { border: 1px solid #acabab; margin-top: 10px; overflow: hidden; }
.userTable table { width: 100%; }
.userTable table th { height: 55px; line-height: 55px; text-align: center; font-size: 18px; border: 1px solid #d2d2d2; background-color: #d9f0fa; }
.userTable table td { border: 1px solid #d2d2d2; font-size: 18px; height: 40px; line-height: 40px; text-align: center; }
.userTable table td a { color: #019cde; text-decoration: underline; }
.userTable table td a:hover { color: #f60; }

.addCustomer { width: 240px; height: 45px; display: block; overflow: hidden; background-image: url("../images/common/addCustomer.png"); background-repeat: no-repeat; margin: 0 auto; }

.offeringList { border: 1px solid #acabab; margin-top: 10px; overflow: hidden; }
.offeringList table { width: 100%; }
.offeringList table th { height: 55px; text-align: center; font-size: 18px; border: 1px solid #d2d2d2; background-color: #d9f0fa; }
.offeringList table td { border: 1px solid #d2d2d2; font-size: 18px; height: 40px; text-align: center; }
.offeringList table td a { color: #019cde; text-decoration: underline; }
.offeringList table td a:hover { color: #f60; }

.newrfqsBtn, .settingBtn { width: 240px; height: 45px; display: block; overflow: hidden; background-image: url("../images/common/newfoq.png"); background-repeat: no-repeat; margin: 0 auto; }

.settingBtn { background-image: url("../images/common/setting.png"); }

.inquiryDetails { border: 2px solid #e6e6e6; border-radius: 3px; padding: 25px; overflow: hidden; background-color: #f9f9f9; }

.hf_item { clear: both; overflow: hidden; margin-bottom: 20px; }
.hf_item .hf_left { height: 32px; line-height: 32px; font-size: 18px; width: 170px; float: left; }
.hf_item .hf_right { height: 32px; line-height: 32px; font-size: 18px; float: left; }
.hf_item .hf_right .textInput { width: 220px; border: 1px solid #ebeaea; font-size: 16px; padding: 5px 10px; border-radius: 3px; color: #8b8b8b; }

.info_tit { font-size: 22px; height: 40px; line-height: 40px; padding-left: 25px; border-bottom: 2px solid #6a6a6a; }

.detailDiv { padding: 25px; }

.ddItem { clear: both; overflow: hidden; font-size: 20px; }
.ddItem .ddleft { float: left; width: 350px; height: 30px; line-height: 30px; }
.ddItem .ddright { float: left; height: 30px; line-height: 30px; }

.ddline { border-bottom: 2px solid #cbcbcb; }

.leftUpdatebtn, .bigSubmitBtn, .sendbtn { width: 240px; height: 45px; margin: 0px auto; display: block; overflow: hidden; background-image: url("../images/common/updateBtn.png"); background-repeat: no-repeat; }

.rightDeleteRfqBtn { background-image: url("../images/common/deleterfq.png"); }

.bigSubmitBtn { background-image: url("../images/common/bigsubmit.png"); }

.sendbtn { background-image: url("../images/common/sendbtn.png"); }

/*user center modify */
.imageTextBox { border: 2px solid #e6e6e6; border-radius: 3px; padding: 25px; overflow: hidden; background-color: #f9f9f9; position: relative; }

.leftImgBox { width: 130px; text-align: center; float: left; }
.leftImgBox image { width: 130px; }
.leftImgBox a { display: block; height: 30px; line-height: 30px; font-size: 16px; color: #019cde; }
.leftImgBox a:hover { color: #f60; }

.rightInfoEdit { float: left; margin-left: 35px; }
.rightInfoEdit .textEditItem { clear: both; overflow: hidden; margin-bottom: 20px; }
.rightInfoEdit .textEditItem .textEditLeft { float: left; width: 150px; font-size: 18px; height: 32px; line-height: 32px; }
.rightInfoEdit .textEditItem .textEditRight { float: left; }
.rightInfoEdit .textEditItem .textEditRight .textInput { width: 220px; border: 1px solid #d5d4d4; font-size: 16px; padding: 5px 10px; border-radius: 3px; }

.rightTopBox { width: 265px; position: absolute; height: 30px; line-height: 30px; font-size: 16px; top: 25px; right: 25px; }
.rightTopBox .deleteBtnGray { float: right; overflow: hidden; display: block; width: 87px; height: 28px; background-image: url("../images/common/grayDeleteBtn.png"); background-repeat: no-repeat; }

.addFilesBtn { display: block; overflow: hidden; width: 145px; height: 35px; position: absolute; zoom: 1; right: 25px; bottom: 25px; background-image: url("../images/common/addfile.png"); background-repeat: no-repeat; }

.dropBox { position: absolute; width: 240px; border: 1px solid #d5d4d4; background-color: #fff; display: none; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
.dropBox .dbItem { height: 30px; line-height: 30px; padding: 0px 10px; display: block; border-bottom: 1px solid #d5d4d4; text-decoration: none; }
.dropBox .dbItem:hover { background-color: #019cde; color: #fff; }
