@charset "UTF-8";
@font-face { font-family: 'ARIALN'; src: url("../font//ARIALN.TTF"); font-style: normal; font-weight: normal; }
@font-face { font-family: 'ARLRDBD'; src: url("../font//ARLRDBD.TTF"); font-style: normal; font-weight: normal; }
/*reset*/
body { font: 12px/1.5 Arial,SimSun,Tahoma; background-color: #fff; color: #333333; }

html, body, p, dl, dt, dd, table, td, th, input, img, form, div, span, ul, ol, li, h1, h2, h3, h4, h5, h6, select, fieldset, button, sub, sup, textarea { margin: 0; padding: 0; }

table { border-collapse: collapse; border-spacing: 0; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; }

img { border: 0 none; }

em, i { font-style: normal; }

ul, ol { list-style: none outside none; }

.clearfix:after { content: ""; display: block; clear: both; }

.clearfix { *zoom: 1; }

a { color: #000000; text-decoration: none; }

a:hover { color: #ff4400; text-decoration: underline; }

:focus { outline: 0; }

.clear { clear: both; overflow: hidden; font-size: 0; height: 0; line-height: 0; }

input, textarea, select { background-color: #ffffff; }

.warp { clear: both; width: 100%; min-width: 960px; }

.header { width: 100%; display: block; margin: 0px; padding: 0px; overflow: hidden; z-index: 2; zoom: 1; height: 117px; background-image: url("../images//common/headerbg.png?v=20150329"); min-width: 960px; }
.header .headerInner { width: 960px; margin: 0px auto; height: 105px; position: relative; }
.header .headerInner .logo { margin-top: 34px; width: 247px; height: 67px; }
.header .headerInner .loginSign { position: absolute; height: 24px; line-height: 24px; width: 146px; padding-left: 26px; top: 12px; right: 10px; background-image: url("../images//common/loginIcon.png?v=20150329"); background-repeat: no-repeat; background-position: 0 0; color: #fff; font-size: 18px; }
.header .headerInner .loginSign a { color: #fff; }
.header .headerInner .loginSign a:hover { color: #ff4400; text-decoration: none; }

.pubBtn_a, .pubBtn_b, .pubBtn_c { width: 240px; height: 45px; display: block; overflow: hidden; margin: 0 auto; font-size: 24px; font-family: arial; text-align: center; line-height: 40px; color: #fff; background-image: url("../images/common/btns.png"); background-repeat: no-repeat; }
.pubBtn_a:hover, .pubBtn_b:hover, .pubBtn_c:hover { color: #fff; text-decoration: none; }

.pubBtn_a { background-position: 0 -303px; }
.pubBtn_a:hover { background-position: 0 -254px; }

.pubBtn_b { width: 146px; height: 35px; font-size: 16px; background-position: 0 -35px; }
.pubBtn_b:hover { background-position: 0 0; }

.pubBtn_c { width: 88px; height: 28px; font-size: 16px; background-position: 0 -99px; line-height: 28px; }
.pubBtn_c:hover { background-position: 0 -70px; }

.loginBox { width: 960px; margin: 0px auto; }
.loginBox .bigimg { float: left; width: 534px; }
.loginBox .loginForm { width: 375px; float: right; background-image: url("../images//loginSign/boxmiddle.jpg"); background-repeat: repeat-y; overflow: hidden; margin-top: 30px; padding-bottom: 22px; position: relative; }
.loginBox .loginForm .borderTop { width: 375px; height: 12px; margin: 0px; background-image: url("../images//loginSign/boxtop.jpg"); background-repeat: no-repeat; overflow: hidden; position: relative; left: 1px; }
.loginBox .loginForm .borderBottom { width: 375px; height: 22px; background-image: url("../images//loginSign/boxbottom.jpg"); background-repeat: no-repeat; overflow: hidden; position: absolute; bottom: 0px; left: 1px; }
.loginBox .loginForm .formInner { padding: 0px 34px; clear: both; overflow: hidden; }
.loginBox .loginForm .formTop { font-family: "microsoft yaihei"; clear: both; overflow: hidden; height: 40px; line-height: 40px; font-size: 18px; padding-bottom: 10px; }
.loginBox .loginForm .formTop .forg { color: #ff5501; vertical-align: middle; font-weight: bold; }
.loginBox .loginForm .formTop .flightColor { color: #d9e9ee; margin: 0px 10px; vertical-align: middle; }
.loginBox .loginForm .formTop .fblue { color: #4394d7; font-size: 12px; vertical-align: middle; }
.loginBox .loginForm .formTop .fblue:hover { color: #ff4400; }
.loginBox .loginForm .errorInfo { font-size: 12px; color: #999; }
.loginBox .loginForm .formItem { height: 39px; clear: both; margin-top: 10px; width: 278px; padding-left: 25px; position: relative; border: 2px solid #d3e3e6; border-radius: 5px; }
.loginBox .loginForm .formItem .email { background-image: url("../images/loginSign/email.png"); width: 15px; height: 9px; display: block; overflow: hidden; position: absolute; top: 15px; left: 10px; }
.loginBox .loginForm .formItem .clock { background-image: url("../images/loginSign/clock.png"); width: 15px; height: 15px; display: block; overflow: hidden; position: absolute; top: 12px; left: 10px; }
.loginBox .loginForm .formItem input { font-size: 12px; line-height: 14px; height: 14px; padding: 12px 0px; margin-left: 25px; border: 0 none; width: 248px; }
.loginBox .loginForm .btns { height: 43px; line-height: 43px; clear: both; overflow: hidden; margin-top: 28px; }
.loginBox .loginForm .btns .forget { height: 16px; line-height: 16px; display: block; padding-left: 25px; background-image: url("../images//loginSign/info.png"); background-repeat: no-repeat; overflow: hidden; color: #f5741f; text-decoration: underline; float: left; margin-top: 16px; }
.loginBox .loginForm .btns .submitBtn { display: block; float: right; width: 119px; height: 43px; background-image: url("../images//loginSign/signInBtn.jpg"); background-repeat: no-repeat; overflow: hidden; }
.loginBox .loginForm .spide { height: 13px; width: 300px; background-repeat: no-repeat; overflow: hidden; clear: both; background-image: url("../images//loginSign/or.png"); margin-top: 20px; }
.loginBox .loginForm .registBtn { clear: both; display: block; height: 44px; width: 304px; background-image: url("../images//loginSign/registBtn.jpg"); background-repeat: no-repeat; margin-top: 17px; margin-bottom: 10px; }

.signTitle { width: 960px; margin: 0px auto; height: 136px; line-height: 136px; position: relative; z-index: 5; zoom: 1; background-position: top center; background-repeat: no-repeat; font-size: 36px; color: #ffffff; font-weight: bold; }
.signTitle .whiteBB { width: 126px; height: 4px; position: absolute; display: block; background-color: #ffffff; bottom: 35px; left: 0px; z-index: 10; overflow: hidden; }

.signBg { background-image: url("../images/loginSign/signbg.jpg"); background-repeat: no-repeat; background-position: top center; margin-top: -10px; z-index: 2; overflow: hidden; zoom: 1; }

.signBox { width: 960px; margin: 0px auto; clear: both; overflow: hidden; }
.signBox .signFormItem { clear: both; overflow: hidden; height: 61px; margin-bottom: 42px; }
.signBox .signFormItem .signFormItemLabel { color: #ffffff; height: 52px; line-height: 52px; font-size: 22px; font-weight: bold; text-align: left; float: left; width: 205px; }
.signBox .signFormItem .signFormItemLeft { float: left; width: 410px; height: 50px; position: relative; overflow: hidden; border: 1px solid #cbd1df; border-radius: 5px; }
.signBox .signFormItem .signFormItemLeft input { font-size: 18px; color: #333333; height: 18px; width: 390px; line-height: 20px; padding: 16px 10px; position: relative; border: 0 none; _border: none; zoom: 1; }
.signBox .signFormItem .signFormItemLeft .placeholder { position: absolute; top: 13px; font-size: 18px; color: #999; left: 12px; zoom: 1; }
.signBox .signFormItem .signFormItemLeft .iconCompanyName, .signBox .signFormItem .signFormItemLeft .iconYourName, .signBox .signFormItem .signFormItemLeft .iconEmail, .signBox .signFormItem .signFormItemLeft .iconChineseName, .signBox .signFormItem .signFormItemLeft .iconTel { width: 19px; height: 21px; background-image: url("../images/loginSign/signIcon.jpg"); display: block; position: absolute; top: 13px; right: 10px; }
.signBox .signFormItem .signFormItemLeft .iconCompanyName { background-position: 0 -21px; }
.signBox .signFormItem .signFormItemLeft .iconCompanyName.inIcon-company { background-position: 0 0; }
.signBox .signFormItem .signFormItemLeft .iconYourName { background-position: -20px -21px; }
.signBox .signFormItem .signFormItemLeft .iconYourName.inIcon-yourName { background-position: -20px 0; }
.signBox .signFormItem .signFormItemLeft .iconEmail { width: 22px; background-position: -39px -21px; }
.signBox .signFormItem .signFormItemLeft .iconEmail.inIcon-email { background-position: -39px 0; }
.signBox .signFormItem .signFormItemLeft .iconChineseName { width: 22px; background-position: -62px -21px; }
.signBox .signFormItem .signFormItemLeft .iconChineseName.inIcon-chinese { background-position: -62px 0; }
.signBox .signFormItem .signFormItemLeft .iconTel { background-position: -85px -21px; }
.signBox .signFormItem .signFormItemLeft .iconTel.inIcon-tel { background-position: -85px 0; }
.signBox .signFormItem .signFormItemRight { width: 320px; float: left; margin-left: 23px; font-size: 16px; line-height: 57px; color: #ffffff; }
.signBox .signFormItem .signFormItemRight.lineHeight28 { line-height: 28px; }
.signBox .signFormItem .submitBtn { clear: both; display: block; height: 55px; width: 412px; background-image: url("../images//loginSign/registBtn.jpg"); background-repeat: no-repeat; margin: 0 auto; }
.signBox .signFormItem .signSubmit { width: 380px; height: 50px; background-color: #2581c7; line-height: 50px; text-align: center; color: #ffffff; display: block; margin-left: 205px; border-radius: 3px; font-size: 18px; text-decoration: none; }
.signBox .toLogin { clear: both; overflow: hidden; text-align: left; padding-left: 30px; font-size: 30px; font-weight: bold; color: #ffffff; margin-bottom: 50px; }
.signBox .toLogin a { text-decoration: underline; color: #f60; margin-left: 10px; }

.container { min-width: 960px; margin-top: -10px; clear: both; }
.container .menuInner { height: 36px; width: 100%; min-width: 960px; background-image: url("../images/menu/menubg.jpg?v=20150329"); line-height: 36px; background-repeat: repeat-x; position: relative; /*涓嬫媺鑿滃崟*/ }
.container .menuInner .menuBox { width: 960px; margin: 0 auto; clear: both; position: relative; }
.container .menuInner .menuBox ul { float: left; }
.container .menuInner .menuBox ul li { float: left; text-align: center; border-left: 1px solid #a5a5a5; border-right: 1px solid #ffffff; }
.container .menuInner .menuBox ul li.borderRight { border-right: 1px solid #a5a5a5; }
.container .menuInner .menuBox ul li a { height: 33px; display: block; width: 143px; line-height: 33px; font-size: 14px; font-weight: bold; position: relative; }
.container .menuInner .menuBox ul li a.active, .container .menuInner .menuBox ul li a:hover { background-color: #ffffff; text-decoration: none; color: #ff4400; }
.container .menuInner .menuBox ul li a .iconRight { display: inline-block; width: 6px; height: 11px; background-image: url("../images/menu/menuIcon.png"); background-position: -19px 0; background-repeat: no-repeat; overflow: hidden; margin-left: 5px; margin-top: 11px; position: relative; _top: -1px; }
.container .menuInner .menuBox ul li a .iconContact { display: inline-block; width: 18px; height: 17px; background-image: url("../images/menu/menuIcon.png"); background-position: 0 0; background-repeat: no-repeat; overflow: hidden; position: relative; margin-left: 5px; top: 2px; _top: 0px; margin-top: 4px; }
.container .menuInner .menuBox .rightOnly { float: right; width: 234px; height: 35px; line-height: 35px; display: block; text-align: center; font-size: 14px; background-color: #ffffff; border-right: 1px solid #a5a5a5; text-decoration: none; zoom: 1; }
.container .menuInner .menuBox .rightOnly .iconDown { display: inline-block; zoom: 1; width: 11px; height: 6px; background-image: url("../images/menu/menuIcon.png"); background-position: -26px 0; background-repeat: no-repeat; overflow: hidden; margin-left: 5px; margin-top: 16px; position: relative; top: -3px; }
.container .menuInner .navbar { display: block; position: absolute; clear: both; z-index: 10; width: 235px; top: 35px; right: 0px; background-color: #fff; border: 1px solid #8a8a8a; border-top: 0 none; height: 480px; overflow: hidden; zoom: 1; }
.container .menuInner .navbar ul { padding: 0px; margin: 0px; }
.container .menuInner .navbar ul li { height: 37px; line-height: 37px; font-size: 14px; width: 233px; text-align: left; }
.container .menuInner .navbar ul li.navTit { background-color: #f4f2f0; text-align: center; font-weight: bold; }
.container .menuInner .navbar ul li.navTit a { display: inline; color: #056cdf; }
.container .menuInner .navbar ul li.navTit a:hover { background-color: transparent; text-decoration: none; color: #ff4400; }
.container .menuInner .navbar ul li .whiteBg { background-color: #ffffff; }
.container .menuInner .navbar ul li .whiteBg:hover { background-color: #FFFFFF; }
.container .menuInner .navbar ul li .grayBg { background-color: #f4f2f0; }
.container .menuInner .navbar ul li .grayBg:hover { background-color: #f4f2f0; }
.container .menuInner .navbar ul li a { display: block; width: 196px; position: relative; padding-left: 36px; font-weight: normal; }
.container .menuInner .navbar ul li a i { display: block; height: 21px; width: 21px; position: absolute; top: 6px; left: 8px; zoom: 1; }
.container .menuInner .navbar ul li a i.icon-zhusu { background-image: url("../images/menu/icon1_1.jpg"); }
.container .menuInner .navbar ul li a i.icon-chuisu { background-image: url("../images/menu/icon2_1.jpg"); }
.container .menuInner .navbar ul li a i.icon-gunsu { background-image: url("../images/menu/icon3_1.jpg"); }
.container .menuInner .navbar ul li a i.icon-jisu { background-image: url("../images/menu/icon4_1.jpg"); }
.container .menuInner .navbar ul li a i.icon-vacu { background-image: url("../images/menu/icon5_1.jpg"); }
.container .menuInner .navbar ul li a i.icon-yazhu { background-image: url("../images/menu/icon6_1.jpg"); }
.container .menuInner .navbar ul li a i.icon-rongmozhu { background-image: url("../images/menu/icon7_1.jpg"); }
.container .menuInner .navbar ul li a i.icon-chongya { background-image: url("../images/menu/icon8_1.jpg"); }
.container .menuInner .navbar ul li a i.icon-lasheng { background-image: url("../images/menu/icon9_1.jpg"); }
.container .menuInner .navbar ul li a i.icon-chongya { background-image: url("../images/menu/icon10_1.jpg"); }
.container .menuInner .navbar ul li a:hover { text-decoration: none; color: #ff4400; }
.container .menuInner .navbar ul li a:hover i.icon-zhusu { background-image: url("../images/menu/icon1_2.jpg"); }
.container .menuInner .navbar ul li a:hover i.icon-chuisu { background-image: url("../images/menu/icon2_2.jpg"); }
.container .menuInner .navbar ul li a:hover i.icon-gunsu { background-image: url("../images/menu/icon3_2.jpg"); }
.container .menuInner .navbar ul li a:hover i.icon-jisu { background-image: url("../images/menu/icon4_2.jpg"); }
.container .menuInner .navbar ul li a:hover i.icon-vacu { background-image: url("../images/menu/icon5_2.jpg"); }
.container .menuInner .navbar ul li a:hover i.icon-yazhu { background-image: url("../images/menu/icon6_2.jpg"); }
.container .menuInner .navbar ul li a:hover i.icon-rongmozhu { background-image: url("../images/menu/icon7_2.jpg"); }
.container .menuInner .navbar ul li a:hover i.icon-chongya { background-image: url("../images/menu/icon8_2.jpg"); }
.container .menuInner .navbar ul li a:hover i.icon-lasheng { background-image: url("../images/menu/icon9_2.jpg"); }
.container .menuInner .navbar ul li a:hover i.icon-chongya { background-image: url("../images/menu/icon10_2.jpg"); }
.container .menuInner .navbar .navBottom { width: 100%; }

.container .menuInner .navbar ul li a:hover i.icon-zhusu, .container .menuInner .navbar ul li a:hover i.icon-chuisu, .container .menuInner .navbar ul li a:hover i.icon-gunsu, .container .menuInner .navbar ul li a:hover i.icon-jisu, .container .menuInner .navbar ul li a:hover i.icon-vacu, .container .menuInner .navbar ul li a:hover i.icon-yazhu, .container .menuInner .navbar ul li a:hover i.icon-rongmozhu, .container .menuInner .navbar ul li a:hover i.icon-chongya, .container .menuInner .navbar ul li a:hover i.icon-lasheng { animation: rotate 1s; -moz-animation: rotate 1s; -webkit-animation: rotate 1s; -o-animation: rotate 1s; }

@-webkit-keyframes rotate { from { transform: rotate(0deg); -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Safari and Chrome */
    -o-transform: rotate(0deg);
    /* Opera */
    -moz-transform: rotate(0deg); }
  to { transform: rotate(360deg); -ms-transform: rotate(360deg);
    /* IE 9 */
    -webkit-transform: rotate(360deg);
    /* Safari and Chrome */
    -o-transform: rotate(360deg);
    /* Opera */
    -moz-transform: rotate(360deg); } }
.content { z-index: 1; zoom: 1; width: 960px; margin: 0px auto; clear: both; /*鍙宠竟瀵艰埅*/ }
.content .leftContent { width: 715px; float: left; overflow: hidden; zoom: 1; }
.content .leftContent .imgBox { width: 715px; height: 340px; overflow: hidden; position: relative; }
.content .leftContent .imgBox img { width: 100%; heigth: 100%; position: absolute; top: 0px; left: 0px; }
.content .leftContent .description { clear: both; font-size: 14px; line-height: 26px; padding: 14px 20px; position: relative; }
.content .leftContent .description .slidesjs-pagination { position: absolute; z-index: 10; top: 10px; right: 30px; height: 20px; width: 140px; zoom: 1; margin-right: -20px; overflow: hidden; }
.content .leftContent .description .slidesjs-pagination .slidesjs-pagination-item a { line-height: 1000; display: block; width: 18px; height: 18px; float: left; margin-right: 10px; background-image: url("../images/index/focus.png"); background-repeat: no-repeat; }
.content .leftContent .description .slidesjs-pagination .slidesjs-pagination-item a.active { background-image: url("../images/index/focusCur.png"); }
.content .leftContent .description .mb10px { margin-bottom: 10px; }
.content .leftContent .splite { height: 3px; background-image: url("../images//index/split.jpg"); background-repeat: repeat-x; overflow: hidden; clear: both; }
.content .leftContent .CollaborateTrackStatu { background-color: #efefef; margin: 10px 0; padding: 40px 34px; padding-bottom: 0px; clear: both; overflow: hidden; zoom: 1; }
.content .leftContent .CollaborateTrackStatu ul { clear: both; overflow: hidden; }
.content .leftContent .CollaborateTrackStatu li { display: block; overflow: hidden; float: left; width: 290px; margin-bottom: 40px; }
.content .leftContent .CollaborateTrackStatu li .smimg { background-image: url("../images/index/imgbg.jpg"); padding: 4px 6px 13px 4px; background-repeat: no-repeat; overflow: hidden; float: left; line-height: 88px; height: 88px; }
.content .leftContent .CollaborateTrackStatu li .smimg img { width: 100px; height: auto; vertical-align: middle; }
.content .leftContent .CollaborateTrackStatu li .text { float: left; height: 110px; margin-left: 10px; width: 125px; overflow: hidden; }
.content .leftContent .CollaborateTrackStatu li .text .itemTitle { font-size: 18px; color: #017eff; line-height: 24px; }
.content .leftContent .CollaborateTrackStatu li .text .itemText { font-size: 14px; line-height: 20px; color: #000; }
.content .leftContent .CollaborateTrackStatu li.spliteX { width: 1px; background-color: #c1c1c1; display: block; height: 110px; margin-right: 25px; margin-left: 30px; }
.content .leftContent .productTable { border: 1px solid #5e5f68; }
.content .leftContent .productTable .productList { height: 522px; overflow: hidden; overflow-y: scroll; box-sizing: border-box; width: 100%; }
.content .leftContent .productTable table { width: 100%; }
.content .leftContent .productTable table th { height: 50px; line-height: 50px; text-align: center; font-size: 18px; font-weight: bold; color: #ffffff; background-color: #019cde; }
.content .leftContent .productTable table td { text-align: center; font-size: 14px; border-bottom: 1px solid #a4a5aa; }
.content .leftContent .productTable .productImg { width: 123px; padding: 10px; }
.content .leftContent .productTable .productImg img { width: 123px; height: 82px; }
.content .leftContent .productTable .fblue { color: #019cde; display: block; }
.content .leftContent .productTable .country { width: 80px; height: 52px; }
.content .rightContent { width: 234px; float: right; overflow: hidden; zoom: 1; }
.content .rightContent.pt494 { padding-top: 500px; }

.contactUs { margin-top: 10px; clear: both; overflow: hidden; }
.contactUs img { width: 100%; }

/*user center*/
.userInfo { clear: both; overflow: hidden; border: 1px solid #dddddd; border-radius: 2px; margin-top: 28px; box-sizing: border-box; padding: 12px 20px; position: relative; }
.userInfo .changePhoto { width: 115px; float: left; text-align: center; }
.userInfo .changePhoto img { width: 115px; height: 115px; }
.userInfo .changePhoto a { color: #8e8e8e; font-size: 18px; }
.userInfo .changePhoto a:hover { color: #ff4400; cursor: pointer; }
.userInfo .infoList { float: left; margin-left: 50px; font-size: 18px; color: #000; line-height: 38px; }
.userInfo .infoList .item .iteName { display: inline-block; width: 240px; }
.userInfo .infoList .item .text { color: #646464; }
.userInfo .changeInfoBtn { display: block; position: absolute; width: 87px; height: 28px; top: 12px; right: 114px; background-image: url("../images//user/changebtn.png"); }

.rfqs { clear: both; overflow: hidden; }
.rfqs .bigText { font-size: 22px; padding-left: 30px; height: 110px; line-height: 110px; position: relative; }
.rfqs .bigText .rfqbtn { position: absolute; top: 12px; right: 65px; }
.rfqs .products { width: 100%; border: 2px solid #acabab; border-radius: 3px; }
.rfqs .products th, .rfqs .products td { border: 1px solid #acabab; text-align: center; height: 40px; line-height: 40px; font-size: 18px; }
.rfqs .products th { background-color: #d9f0fa; }
.rfqs .tovewDetail { height: 110px; line-height: 110px; padding-left: 30px; position: relative; }
.rfqs .tovewDetail a { position: absolute; top: 12px; right: 65px; }
.rfqs .other { padding-left: 30px; height: 110px; line-height: 110px; font-size: 18px; }

.footer { margin-top: 102px; }
.footer .logos { padding-bottom: 14px; clear: both; overflow: hidden; border-bottom: 2px solid #2ca9ff; }
.footer .logos ul { margin: 0px auto; padding: 0px; width: 700px; overflow: hidden; }
.footer .logos ul li { float: left; }
.footer .links { clear: both; overflow: hidden; border-bottom: 1px solid #b8b8b8; }
.footer .links .LinkContent { width: 960px; margin: 0px auto; height: 175px; margin-top: 10px; padding-bottom: 10px; }
.footer .links .LinkContent .quickGuide { float: left; width: 140px; }
.footer .links .LinkContent .instruction { float: left; width: 130px; }
.footer .links .LinkContent .colsSplit { margin-right: 15px; width: 1px; height: 160px; position: relative; float: left; overflow: hidden; top: 16px; background-color: #b8b8b8; }
.footer .links .LinkContent .title { font-size: 16px; line-height: 36px; font-weight: bold; }
.footer .links .LinkContent .link { font-size: 12px; line-height: 28px; }
.footer .links .LinkContent .facebookLogo { height: 110px; position: relative; }
.footer .links .LinkContent .facebookLogo img { width: 28px; height: 28px; position: absolute; bottom: 0px; right: 62px; }
.footer .links .LinkContent .rightLinks { float: left; width: 190px; }
.footer .links .LinkContent .rightLinks .phone { clear: both; overflow: hidden; }
.footer .links .LinkContent .rightLinks .phone .img { width: 38px; float: left; margin-right: 10px; position: relative; top: 20px; }
.footer .links .LinkContent .rightLinks .phone .phoneRight { float: left; }
.footer .links .LinkContent .rightLinks .phone .phoneRight .cusSer { display: block; font-size: 16px; font-weight: bold; }
.footer .links .LinkContent .rightLinks .phone .phoneRight .number { font-size: 16px; font-weight: bold; color: #0085c8; }
.footer .links .LinkContent .rightLinks .phone .phoneRight .callTime { font-size: 14px; color: #666; }
.footer .links .LinkContent .rightLinks .phone .phoneRight .email { font-size: 14px; color: #666; }
.footer .links .LinkContent .rightLinks .phone .chat { height: 33px; margin-top: 10px; }
.footer .links .LinkContent .rightLinks .phone .chat .chattext { float: left; line-height: 33px; }
.footer .links .LinkContent .rightLinks .phone .chat img { float: left; position: relative; top: 1px; margin-left: 10px; }
.footer .links .LinkContent .rightLinks .phone .bjTime { font-size: 12px; color: #666666; }
.footer .links .LinkContent .rightLinks .phone .bjTime .timeNum { display: inline-block; height: 15px; width: 15px; text-align: center; line-height: 15px; background-color: #666666; border: 1px solid #333; color: #ffffff; }
.footer .links .LinkContent .rightLinks .phone .bjTime .timeNum.nobg { width: auto; background-color: #ffffff; color: #666666; border-color: #ffffff; }
.footer .cards { min-width: 960px; height: 50px; line-height: 50px; border-bottom: 1px solid #b8b8b8; }
.footer .cards img { height: 50px; margin: 0px auto; display: block; }
.footer .copyRight { min-width: 960px; height: 80px; line-height: 80px; border-bottom: 2px solid #2ca9ff; margin-bottom: 100px; text-align: center; color: #999999; }
